In [1]:
import pandas as pd           #판다스
import matplotlib as mpl       #맷플롭립
import matplotlib.pylab as plt   #맷플롭립
import seaborn as sns          #시본 
import numpy as np           #넘파이

#데이터 준비 시본에 내장된 팁 데이터 
tips = sns.load_dataset("tips")    # 팁 데이터
tips

# 기본정보확인 - tips.info()
tips.info()

# head, tail 확인
tips.head()
tips.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

>index 접근  iloc / loc

In [10]:
tips2=tips.drop([2])

print("iloc", tips2.iloc[2])
print("loc", tips2.loc[2])  # 인덱스2를 삭제했으므로 오류

iloc total_bill     23.68
tip             3.31
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 3, dtype: object

KeyError: 2

In [13]:
print("multi-loc", tips.loc[[1,2,3]])

multi-loc    total_bill   tip   sex smoker  day    time  size
1       10.34  1.66  Male     No  Sun  Dinner     3
2       21.01  3.50  Male     No  Sun  Dinner     3
3       23.68  3.31  Male     No  Sun  Dinner     2

>행, 열 읽어오기

In [14]:
tips[0:3] # 0~2행까지 가져오기 [총 3개의 행을 가져옴]
tips.iloc[0:3] # 0~2 행가져오기

tips.loc[0:3] # 0~3 index에 해당하는 행 가져오기
tips.loc[0:3,['sex','day']] #0~3 index에서 열이 sex, day만 가져오기

# slicing
tips.iloc[1:3,:] # 1부터 2행까지 모든 열을 가져옴
tips.iloc[:,1:3] # 1부터 2열까지 모든 행을 가져옴

      tip     sex
0    1.01  Female
1    1.66    Male
2    3.50    Male
3    3.31    Male
4    3.61  Female
..    ...     ...
239  5.92    Male
240  2.00  Female
241  2.00    Male
242  1.75    Male
243  3.00  Female

[244 rows x 2 columns]

>조건 검색

In [15]:
# 단일 조건
tips[tips.tip > 5] # tip이 5이상
tips[tips["tip"] > 5] # 위와 동일, 두 가지 방법!!

# 다중 조건 : and 조건 – 남자 손님이면서 비흡연자
tips[(tips['sex']=='Male') & (tips['smoker']=='No')]

# 특정조건 isin
tips['day'].isin(['Sun']) # True
tips[tips['tip'].isin([1])] # tips이 1인 행을 가져옴

     total_bill  tip     sex smoker  day    time  size
67         3.07  1.0  Female    Yes  Sat  Dinner     1
92         5.75  1.0  Female    Yes  Fri  Dinner     2
111        7.25  1.0  Female     No  Sat  Dinner     1
236       12.60  1.0    Male    Yes  Sat  Dinner     2

>열 변수 추출

In [ ]:
tips.tip # tips['tip'] 와 동일, tip 열변수 추출
tips [['total_bill','tip','day']] # total_bill, tip, day 열 추출 : 여러개의 열을 추출하고자 할 경우 [[]] 사용
tips['total'] = tips['total_bill'] + tips['tip'] # 파생변수 만들기

>데이터 확인 & 정렬 & 합계

In [16]:
# 데이터 확인
tips.count( ) # 갯수
len(tips) # 크기
tips.index # index 보기
tips.columns # 열 보기
tips.values # 열구조 보기

# 데이터 정렬
tips.sort_values(by=['total_bill'], axis=0) # 열기준으로 axis = 0 오름차순 정렬, ascending=False 추가하면 내림차순으로
tips.sort_index(axis=1) # 알파벳순 정렬 axis = 1

# 열합계, 행합계
tips.sum() # 열합계
tips.sum(axis=1) # 행합계

C:\Users\victo\AppData\Local\Temp/ipykernel_21236/1905920774.py:13: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  tips.sum() # 열합계
C:\Users\victo\AppData\Local\Temp/ipykernel_21236/1905920774.py:14: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  tips.sum(axis=1) # 행합계

0      20.00
1      15.00
2      27.51
3      28.99
4      32.20
       ...
239    37.95
240    31.18
241    26.67
242    21.57
243    23.78
Length: 244, dtype: float64

>데이터 병합

In [21]:
import pandas as pd

# 병합용 데이터프레임 생성
df1 = pd.DataFrame({ '고객번호': [1001, 1002, 1003, 1004, 1005, 1006, 1007],  # 고객번호가 기본키
    '이름': ['강감찬', '홍길동', '이순신', '장보고', '유관순', '신사임당', '세종대왕']
}, columns=['고객번호', '이름'])
df2 = pd.DataFrame({'고객번호': [1001, 1001, 1005, 1006, 1008, 1001],
    '금액': [10000, 20000, 15000, 5000, 100000, 30000]
}, columns=['고객번호', '금액'])

# join (병합)
pd.merge(df1, df2) # inner join
pd.merge(df1, df2, how='outer') # outer join
pd.merge(df1, df2, how='left') # left join
pd.merge(df1, df2, how='right') # right join

   고객번호    이름      금액
0  1001   강감찬   10000
1  1001   강감찬   20000
2  1005   유관순   15000
3  1006  신사임당    5000
4  1008   NaN  100000
5  1001   강감찬   30000

>범주형 분석(crosstab)

In [25]:
tips['sex'].value_counts() # 성별 범주형 빈도분석
pd.crosstab(tips['sex'],tips['day']) # 성별, 요일별 교차분석 
pd.crosstab(tips['sex'],tips['day'], margins=True) # 누적값 표시 
pd.crosstab(tips['sex'],tips['day']).apply(lambda r: r/len(tips), axis=1) # 전체 빈도 비율 확인, 람다 사용법...?

day         Thur       Fri       Sat       Sun
sex
Male    0.122951  0.040984  0.241803  0.237705
Female  0.131148  0.036885  0.114754  0.073770