# Series : 명시적으로 index를 지정

In [4]:
import pandas as pd

In [6]:
sd1 = pd.Series(['Dog','Cat','Tiger','Lion','Monkey'],index=['0','1', '2','3','4'])
sd1

0       Dog
1       Cat
2     Tiger
3      Lion
4    Monkey
dtype: object

In [11]:
#딕셔너리로 시리즈 생성
dict_data={'a':1,'b':2,'c':3}
sd2=pd.Series(dict_data)
sd2 #type(sd2)

a    1
b    2
c    3
dtype: int64

In [12]:
#튜플로 시리즈 생성
tup_data=('이순신','1993-03-15','남')
sd3=pd.Series(tup_data,index=['이름','생년월일','성별'])
sd3

이름             이순신
생년월일    1993-03-15
성별               남
dtype: object

# 데이터프레임

In [13]:
import pandas as pd

In [19]:
#딕셔너리로 데이터프레임 생성
dict_data={'동물':['Dog','Cat','Tiger','Lion','Monkey'],'나이':[7,9,2,3,1]}
df1=pd.DataFrame(dict_data)
df1

pandas.core.frame.DataFrame

In [21]:
#리스트로 데이터프레임 생성
df2=pd.DataFrame([['Dog','7'], ['Cat','9'], ['Tiger','2'], ['Lion','3'],['Monkey','1']],
index = ['0','1','2','3','4'],columns = ['동물','나이'])
df2

       동물 나이
0     Dog  7
1     Cat  9
2   Tiger  2
3    Lion  3
4  Monkey  1

In [22]:
#데이터프레임 조작
import pandas as pd 
import matplotlib as mpl 
import matplotlib.pylab as plt 
import seaborn as sns 
import numpy as np

In [33]:
tips=sns.load_dataset("tips")
tips
tips.info()
tips.head(5)
#tips.tail(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [37]:
tips1=tips.drop([2]) #인덱스 상의 2 삭제!
tips1

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[243 rows x 7 columns]

In [43]:
tips1.iloc[2] #2번째 인덱스 접근 (0,1,2 ...), 2를 삭제했어도 차례대로 접근
tips1.loc[3] #인덱스 이름이 3인 곳에 접근
#tips1.loc[2] 오류남!
tips.loc[[1,3,5]] # 1,3,5 레이블(index)에 해당하는 내용 한번에 가져오기
tips.iloc[0] # 첫번째 row(행)
tips.iloc[-1] # 마지막 row(행)

KeyError: 2

# 특정 범위 영역 선택

In [48]:
tips[0:3] #0~(n-1)행까지
tips.iloc[0:3]
tips.loc[0:3] #0~n행까지

tips.loc[0:3,['sex','day']]
tips.loc[0,['sex','day']]
tips.at[0,'sex'] # 해당 행과 열에 적합한 값을 가져옴
tips.iloc[3:5,0:2]
tips.iloc[[1,2,4],[0,2]]

tips.iloc[1:3,:]
tips.iloc[:.1:3]
tips.iloc[1,1]
tips.iat[1,1] # 값하나 선택
tips[tips.tip>5]
tips[(tips['sex']=='Male')&(tips['smoker']=='No')]

   total_bill   tip
3       23.68  3.31
4       24.59  3.61

# 특정 조건 선택

In [55]:
[tips['day'].isin(['Sun'])] # isin 활용
tips[tips['tip'].isin([1])]

     total_bill  tip     sex smoker  day    time  size
67         3.07  1.0  Female    Yes  Sat  Dinner     1
92         5.75  1.0  Female    Yes  Fri  Dinner     2
111        7.25  1.0  Female     No  Sat  Dinner     1
236       12.60  1.0    Male    Yes  Sat  Dinner     2

In [67]:
tips.tip
tips['size']

tips[['total_bill','tip','day']] # 열 변수 추출

tips['total']=tips['total_bill']+tips['tip']
tips.dtypes #각 열의 데이터타입 보여줌
#Type(tips.total_bill) 안되는디?

tips['smoker_str']=tips['smoker'].astype(str) # type casting
tips.info() # category형과 문자열(object) 차이

tips['smoker_str']=tips['smoker'].astype('category') # 카테고리가 더 용량이 적네!
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   total       244 non-null    float64
 8   smoker_str  244 non-null    object
dtypes: category(4), float64(3), int64(1), object(1)
memory usage: 11.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   total       244 non-null    float64
 8   smoker_str  244 non-null    category
dtypes: category(5), float64(3), int64(1)
memory usage: 9.6 KB

In [84]:
tips.count()
len(tips)

tips.index
tips.columns
tips.values

tips.sort_values(by=['total_bill'],axis=0)
tips.sort_values(by=['total_bill'],axis=0,ascending=False) # 내림차순 정렬

tips.sort_index(axis=1) # 열이름을 알파벳 순으로 정렬

tips.sum(axis=1) # 행 합계
tips.sum() # 열 합계

C:\Users\victo\AppData\Local\Temp/ipykernel_12476/1604723914.py:13: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  tips.sum(axis=1)
C:\Users\victo\AppData\Local\Temp/ipykernel_12476/1604723914.py:14: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  tips.sum()

total_bill    4827.77
tip            731.58
size           627.00
total         5559.35
dtype: float64