### 시간 조작
- 시계열 시간 조작 단위는 '년, 월, 일, 시, 분, 초'

In [1]:
import pandas as pd

# 시간 정의
dates=['2020-01-01','2020-03-01','2021-09-01']
dates

# 시간 자료형 생성
ts_dates=pd.to_datetime(dates)
ts_dates

# Timestamp를 Period로 변환
pr_day=ts_dates.to_period(freq='D')  # 1일 기간
pr_day
pr_month=ts_dates.to_period(freq='M')  # 1개월 기간
pr_month
pr_year=ts_dates.to_period(freq='A')  # 1년 기간
pr_year

PeriodIndex(['2020', '2020', '2021'], dtype='period[A-DEC]')

- 시계열 객체로 변환: pd.to_datetime()

In [2]:
file_path='C:/python_data/7장데이터/timeseries.csv'
df=pd.read_csv(file_path)
df

         Date  Close  Start   High    Low  Volume
0  2015-07-02  10100  10850  10900  10000  137977
1  2016-06-29  10700  10550  10900   9990  170253
2  2017-06-28  10400  10900  10950  10150  155769
3  2018-06-27  10900  10800  11050  10500  133548
4  2019-06-26  10800  10900  11000  10700   63039

In [3]:
df.info()  # 현재 날짜를 나타내는 Date 컬럼이 문자형(object)이므로 to_datetime() 함수를 이용해서 Date 컬럼을 시계열 객체(Timestamp)로 변환 후 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5 non-null      object
 1   Close   5 non-null      int64
 2   Start   5 non-null      int64
 3   High    5 non-null      int64
 4   Low     5 non-null      int64
 5   Volume  5 non-null      int64
dtypes: int64(5), object(1)
memory usage: 368.0+ bytes

In [4]:
df['new_Date']=ㅔ=pd.to_datetime(df['Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      5 non-null      object
 1   Close     5 non-null      int64
 2   Start     5 non-null      int64
 3   High      5 non-null      int64
 4   Low       5 non-null      int64
 5   Volume    5 non-null      int64
 6   new_Date  5 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 408.0+ bytes

In [5]:
# 기존 Date 열을 삭제
df.drop('Date',axis=1,inplace=True)
df

   Close  Start   High    Low  Volume   new_Date
0  10100  10850  10900  10000  137977 2015-07-02
1  10700  10550  10900   9990  170253 2016-06-29
2  10400  10900  10950  10150  155769 2017-06-28
3  10900  10800  11050  10500  133548 2018-06-27
4  10800  10900  11000  10700   63039 2019-06-26

In [6]:
# new_Date를 인덱스로 지정
df.set_index('new_Date',inplace=True)
df

            Close  Start   High    Low  Volume
new_Date
2015-07-02  10100  10850  10900  10000  137977
2016-06-29  10700  10550  10900   9990  170253
2017-06-28  10400  10900  10950  10150  155769
2018-06-27  10900  10800  11050  10500  133548
2019-06-26  10800  10900  11000  10700   63039

In [7]:
# 간단한 시계열 시각화
import matplotlib
df.plot  # 왜 이미지가 안 뜨지