In [1]:
from sklearn.preprocessing import scale
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib inline

### KNN 알고리즘, Kmeans 
- KNN 지도학습(회귀, 분류), Kmenas 비지도학습
### K-means 
- k개를 지정하여 평균을 통해 군집화한다는 뜻으로 생각해 보자!
- 비지도학습이라는 게 정답을 준 것이 아니라 정답이 없는 데이터에서 머신에게 패턴을 찾아달라고 하는 것
- y 라벨이 없는 상태에서 데이터를 집어 넣고 특성을 군집화하는 것
- 군집화는 같은 패턴끼리 묶는다.
- 작동원리가 어떤식으로 진행하는지는 '평균' 
- 거리의 기반으로 작동을한다. (유클리디안 거리)
- k -means의 k는 몇 개의 클러스터(군집화)를 할 것인가?
- k는 분석가가 초기값을 입력해야 한다. 예를 들어 3개라고 하면 3개의 군집 포인트가 데이터의 패턴을 거리기반(평균) 군집을 만든다.
- 초기값을 지정해 줘야함
- 단점은 둘 중 거리기반으로만 하기 때문에 거리가 55,45 비슷한 거리 차이어도 55가깝게 하드클러스터링을 하기 때문에
- 이 부분이 문제가 된다.
- 거리기반이라 이상치에 민감해지고
- 단순히 거리기반으로 평균으로 진행해서 그룹자체의 분산 구조는 반영하지 못한다.
- 데이터 양이 많아서 반복횟수가 많아지면 속도가 느린 부분도 있음
- 몇 개의 군집을 선택해야 하는지 가이드를 주는 것이 어렵다.

- 하지만 좋은점은
- 군집화하기에 가장 많이 활용된다.
- 이해도가 쉽다. 알고리즘 간결하다. 거리 기반으로 평균으로 이해하면 되니깐.

In [41]:
df = pd.read_csv('wine_test.csv')

In [42]:
df.columns

Index(['Unnamed: 0', 'alcohol', 'malic_acid', 'ash', 'alcalinity_of_ash',
       'magnesium', 'total_phenols', 'flavanoids', 'nonflavanoid_phenols',
       'proanthocyanins', 'color_intensity', 'hue',
       'od280/od315_of_diluted_wines', 'proline', 'class'],
      dtype='object')

In [43]:
df= df[['alcohol', 'malic_acid', 'ash', 'alcalinity_of_ash',
       'magnesium', 'total_phenols', 'flavanoids', 'nonflavanoid_phenols',
       'proanthocyanins', 'color_intensity', 'hue',
       'od280/od315_of_diluted_wines', 'proline', 'class']]

# 컬럼정리

In [44]:
df

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,class
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,0
1,NaN,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,0
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,0
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,0
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,2
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,2
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,2
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,2
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,2

In [8]:
df['class'].value_counts()

1    71
0    59
2    48
Name: class, dtype: int64

### kmeans 사용하기

In [10]:
kmeans = KMeans(n_clusters=3, init='k-means++', max_iter=300, random_state=111)

In [11]:
kmeans

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=111, tol=0.0001, verbose=0)

In [12]:
df.isna().sum()

alcohol                         2
malic_acid                      0
ash                             0
alcalinity_of_ash               0
magnesium                       0
total_phenols                   0
flavanoids                      0
nonflavanoid_phenols            5
proanthocyanins                 0
color_intensity                 0
hue                             0
od280/od315_of_diluted_wines    0
proline                         0
class                           0
dtype: int64

In [45]:
df.dropna(inplace=True)

In [14]:
df

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,class
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,0
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,0
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,0
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,0
5,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,2
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,2
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,2
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,2
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,2

### kmeans 학습시키는 것은 간단하다.
- fit 안에 넣으면 된다.

- 기존 class 컬럼이 있는데 이 컬럼과 비교해서 kmeans class를 제외한 다른 컬럼으로 군집을 했을 때
- 기존과 비교해서 정말 잘 군집화 하는지 확인해 보자!

In [16]:
df.columns

Index(['alcohol', 'malic_acid', 'ash', 'alcalinity_of_ash', 'magnesium',
       'total_phenols', 'flavanoids', 'nonflavanoid_phenols',
       'proanthocyanins', 'color_intensity', 'hue',
       'od280/od315_of_diluted_wines', 'proline', 'class'],
      dtype='object')

In [29]:
df_sp=df[['alcohol', 'malic_acid', 'ash', 'alcalinity_of_ash', 'magnesium',
       'total_phenols', 'flavanoids', 'nonflavanoid_phenols',
       'proanthocyanins', 'color_intensity', 'hue',
       'od280/od315_of_diluted_wines', 'proline']]

In [30]:
df_sp#클래스가 없는 와인데이터

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
5,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [19]:
kmeans.fit(df_sp)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=111, tol=0.0001, verbose=0)

In [20]:
#실제로 군집이 어떻게 되었나?
print(kmeans.labels_) # 자동으로 군집화 된 내용을 공유해 준다.

[1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 1 1 2 2 1 1 2 1 1 1 1 1 1 2 2 1 1
 2 2 1 1 2 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 2 0 2 0 0 2 0 0 2 2 0 0 1 2 0 0
 0 2 0 0 2 2 0 0 0 0 0 2 2 0 0 0 0 0 2 0 2 0 2 0 2 0 0 0 0 2 0 0 2 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 2 0 0 2 2 2 2 0 0 0 2 2 0 0 2 2 0 2 2 0 0 0 0 2 2
 2 0 2 2 2 0 2 0 2 2 0 2 2 2 2 0 0 2 2 2 2 2 0]

In [21]:
#cluster는 우리가 비지도학습으로 만든 컬럼
df_sp['cluster'] = kmeans.labels_

In [22]:
df_sp['class'] = df['class']

In [23]:
df_sp

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,cluster,class
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,1,0
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,1,0
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,1,0
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,2,0
5,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,2,2
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,2,2
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,2,2
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,2,2
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,0,2

In [25]:
df_sp.groupby(['class','cluster'])['proline'].count()

class  cluster
0      1          44
       2          13
1      0          48
       1           1
       2          17
2      0          19
       2          29
Name: proline, dtype: int64

- 기존 군집이랑 비교했을 때 조금은 다른 결과 값이 나왔다.

- kmeans 비지도학습이라 정답이 없다.
- 예시로 기존 class랑 비교한 것이고, kmeans가 작동한 원리는 평균기반 거리기 떄문에 군집이 다를 수 있다.
- 기존의 class가 어떤식으로 되어있는지는 우리가 모르니깐

In [27]:
df_sp.groupby(['class'])['proline'].count()

class
0    57
1    66
2    48
Name: proline, dtype: int64

In [26]:
df_sp.groupby(['cluster'])['proline'].count()

cluster
0    67
1    45
2    59
Name: proline, dtype: int64

- 거리기반으로 군집화를 진행한다고 했으니
- 변수에 대해서 한번 조정해보고 새롭게 kmeans를 진행해 보자!

- 해당 컬럼이 차원이 10개 넘는 고차원인 상태
- 해당 고차원의 상태의 데이터에서 거리기반으로 군집을 만드는 것
- 무작정 Kmeans를 모든 컬럼을 다 이용해서 진행하면 차원의 저주라고 하는 문제가 발생할 수 있다.
- 컬럼이 많아지면 고차원에서는 거리가 미세하게만 바뀌고 거의 바뀌지 않을 수도 있고 그렇게 되면 군집에 대해서 정말 잘 할 수 있을까? 
- 유의미한 변수가 무엇인지?
- 어떤 변수를 사용해야 하는가?
- 의미 있는 변수로만 최대한 사용해야 한다.

- 의미있는 변수가 무엇인가?
- 분석가가 직접 컬럼을 선별할 수 있다.
- 기술적으로는 피처에대한 중요성을 보고 컬럼을 추출할 수 있고
- 중요한 부분은 모든 컬럼을 다 kmeans에 사용하는 것은 잘못된 방향이다.

In [28]:
df_sp

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,cluster,class
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,1,0
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,1,0
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,1,0
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,2,0
5,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,2,2
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,2,2
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,2,2
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,2,2
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,0,2

- 위의 컬럼 중 class별로 평균을 비교해보자!
- 평균의 차이가 많이 나는 경우는 어느정도 이상치가 있을 것이라 판단하고 해당 컬럼은 제외하고 평균이 비슷한 컬럼들만 선택해보자!

In [33]:
#기존 class 기반으로 볼 때 각 컬럼들의 평균의 차이를 보고 컬럼을 선별하여 다시 군집화 해보자!
df

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,class
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,0
1,NaN,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,0
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,0
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,0
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,2
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,2
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,2
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,2
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,2

In [34]:
a = list(df.columns)

In [35]:
a

['alcohol',
 'malic_acid',
 'ash',
 'alcalinity_of_ash',
 'magnesium',
 'total_phenols',
 'flavanoids',
 'nonflavanoid_phenols',
 'proanthocyanins',
 'color_intensity',
 'hue',
 'od280/od315_of_diluted_wines',
 'proline',
 'class']

In [37]:
for i in a:
    print('-----------------',i ,'mean 비교')
    print(df.groupby(['class'])[i].mean())

----------------- alcohol mean 비교
class
0    13.735263
1    12.278732
2    13.153750
Name: alcohol, dtype: float64
----------------- malic_acid mean 비교
class
0    2.010678
1    1.932676
2    3.333750
Name: malic_acid, dtype: float64
----------------- ash mean 비교
class
0    2.455593
1    2.244789
2    2.437083
Name: ash, dtype: float64
----------------- alcalinity_of_ash mean 비교
class
0    17.037288
1    20.238028
2    21.416667
Name: alcalinity_of_ash, dtype: float64
----------------- magnesium mean 비교
class
0    106.338983
1     94.549296
2     99.312500
Name: magnesium, dtype: float64
----------------- total_phenols mean 비교
class
0    2.840169
1    2.258873
2    1.678750
Name: total_phenols, dtype: float64
----------------- flavanoids mean 비교
class
0    2.982373
1    2.080845
2    0.781458
Name: flavanoids, dtype: float64
----------------- nonflavanoid_phenols mean 비교
class
0    0.290000
1    0.365152
2    0.447500
Name: nonflavanoid_phenols, dtype: float64
----------------- proanthocyanins mean 비교
class
0    1.899322
1    1.630282
2    1.153542
Name: proanthocyanins, dtype: float64
----------------- color_intensity mean 비교
class
0    5.528305
1    3.086620
2    7.396250
Name: color_intensity, dtype: float64
----------------- hue mean 비교
class
0    1.062034
1    1.056282
2    0.682708
Name: hue, dtype: float64
----------------- od280/od315_of_diluted_wines mean 비교
class
0    3.157797
1    2.785352
2    1.683542
Name: od280/od315_of_diluted_wines, dtype: float64
----------------- proline mean 비교
class
0    1115.711864
1     519.507042
2     629.895833
Name: proline, dtype: float64
----------------- class mean 비교
class
0    0.0
1    1.0
2    2.0
Name: class, dtype: float64

### 해당 컬럼이 차이가 많이 나지 않는다 판단해서 선택
alcohol ash nonflavanoid_phenols proanthocyanins

In [57]:
df_sp_1 = df[['alcohol', 'ash', 'nonflavanoid_phenols' ,'proanthocyanins']]

In [47]:
df_sp_1

     alcohol   ash  nonflavanoid_phenols  proanthocyanins
0      14.23  2.43                  0.28             2.29
2      13.16  2.67                  0.30             2.81
3      14.37  2.50                  0.24             2.18
4      13.24  2.87                  0.39             1.82
5      14.20  2.45                  0.34             1.97
..       ...   ...                   ...              ...
173    13.71  2.45                  0.52             1.06
174    13.40  2.48                  0.43             1.41
175    13.27  2.26                  0.43             1.35
176    13.17  2.37                  0.53             1.46
177    14.13  2.74                  0.56             1.35

[171 rows x 4 columns]

In [48]:
kmeans.fit(df_sp_1)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=111, tol=0.0001, verbose=0)

In [49]:
#실제로 군집이 어떻게 되었나?
print(kmeans.labels_) # 자동으로 군집화 된 내용을 공유해 준다.

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 0 0 1 1 1 1 1 1 1 1 0 0 0
 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 2 2 2 1 0 0 2 1 0 1 2 2 0
 2 2 2 2 2 2 0 2 0 2 2 2 2 2 2 0 2 2 2 2 2 2 2 0 2 2 2 0 2 2 2 0 2 2 2 2 2
 2 0 2 2 2 1 2 2 2 2 2 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 0 0 0 0 0 0 0 0 1 0
 0 1 0 1 1 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0 0 0 1]

In [51]:
df_sp_1['cluster'] = kmeans.labels_

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [53]:
df_sp_1.groupby(['cluster'])['ash'].count()

cluster
0    62
1    61
2    48
Name: ash, dtype: int64

- 이걸 통해서 어떤 인사이트를 얻는 것인가?
- 군집화를 통해서 무엇이 중요한 것이고 무엇을 얻는건가?
- 현업에서도 마찬가지고

- 군집이 형성된다는 것은 해당 0, 1, 2에 따른 데이터의 패턴이 다를 것이다.
- 1 군집에 대한 다른 컬럼들의 값의 분포 
- 비지도학습이기 때문에 군집이 없는 상태였는데 예시를 위해서 비교 class
- 없다는 가정으로 한다면 흩어진 데이터의 분포에서 군집을 만들어 주었으니
- 우리는 해당 군집에 대한 다른 컬럼들의 데이터 특성을 보고 그것을 이해하고 실무에 적용시키거나 사용하거나 할 수 있다.

- ex) 고객군의 데이터라고 한다면
- 고객군 군집이 형성 되었는데 
- 컬럼이 구매주기, 구매시간, 구매빈도 등의 컬럼이라면
- 해당 새롭게 클러스된 그룹과 기존 컬럼들의 값을 비교하면서 새로운 인사이트를 찾을 수 있을 것

In [55]:
df_sp_1

     alcohol   ash  nonflavanoid_phenols  proanthocyanins  cluster
0      14.23  2.43                  0.28             2.29        1
2      13.16  2.67                  0.30             2.81        1
3      14.37  2.50                  0.24             2.18        1
4      13.24  2.87                  0.39             1.82        1
5      14.20  2.45                  0.34             1.97        1
..       ...   ...                   ...              ...      ...
173    13.71  2.45                  0.52             1.06        0
174    13.40  2.48                  0.43             1.41        0
175    13.27  2.26                  0.43             1.35        0
176    13.17  2.37                  0.53             1.46        0
177    14.13  2.74                  0.56             1.35        1

[171 rows x 5 columns]

### 거리기반으로 이야기했으면 
- 거리기반이기 때문에 값에 대한 차이가 민감할 것
- 클러스터링할 때 스케일링을 해야 한다.
- 스케일링을 해보자!

In [56]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler

In [58]:
df_sp_1

     alcohol   ash  nonflavanoid_phenols  proanthocyanins
0      14.23  2.43                  0.28             2.29
2      13.16  2.67                  0.30             2.81
3      14.37  2.50                  0.24             2.18
4      13.24  2.87                  0.39             1.82
5      14.20  2.45                  0.34             1.97
..       ...   ...                   ...              ...
173    13.71  2.45                  0.52             1.06
174    13.40  2.48                  0.43             1.41
175    13.27  2.26                  0.43             1.35
176    13.17  2.37                  0.53             1.46
177    14.13  2.74                  0.56             1.35

[171 rows x 4 columns]

In [59]:
st_scaler = StandardScaler()

In [60]:
st_scaler.fit(df_sp_1)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [61]:
df_sp_1_sc = st_scaler.transform(df_sp_1)

In [62]:
df_sp_1_sc

array([[ 1.52631422,  0.20782113, -0.66103228,  1.25092179],
       [ 0.18121398,  1.0807975 , -0.50249579,  2.17042222],
       [ 1.70230865,  0.46243924, -0.97810527,  1.05641209],
       [ 0.28178222,  1.80827782,  0.21091843,  0.41983488],
       [ 1.48860113,  0.28056916, -0.1854228 ,  0.68507538],
       [ 1.72745071,  0.28056916, -0.50249579,  0.70275808],
       [ 1.31260671,  0.86255341, -0.42322754, -0.58807905],
       [ 1.0611861 , -0.37416312, -1.13664176,  0.47288298],
       [ 1.36289083, -0.26504107, -1.13664176,  1.4100661 ],
       [ 1.38803289, -0.19229304, -0.81956877, -0.02223264],
       [ 0.92290477,  0.1350731 , -0.58176403,  0.40215217],
       [ 2.1800078 ,  0.06232507,  0.52799142,  2.17042222],
       [ 1.71487968,  0.02595105, -0.58176403,  2.43566272],
       [ 0.7720524 ,  1.18991955, -0.50249579, -0.21674234],
       [ 1.61431143,  1.26266758, -0.26469105,  0.68507538],
       [ 1.02347301,  0.89892743,  0.29018668,  0.24300787],
       [ 1.4760301 ,  0.38969121, -0.34395929,  0.49056568],
       [ 0.78462343,  0.68068333, -1.53298299,  0.13691167],
       [ 1.31260671, -0.3377891 , -0.97810527,  0.91495049],
       [-0.10791972,  1.00804947, -0.89883702,  0.70275808],
       [ 0.87262064, -0.04679698, -0.74030053,  0.18995977],
       [-0.20848797,  0.53518727, -0.81956877, -0.21674234],
       [ 0.60862901,  0.86255341, -0.66103228,  0.13691167],
       [ 0.04293264,  3.08136836,  0.84506441,  0.59666188],
       [ 0.47034767,  0.89892743, -0.1854228 , -0.23442504],
       [ 0.3572084 , -0.84702532, -0.74030053, -0.41125204],
       [ 1.07375713,  1.55365971,  0.05238194,  0.31373867],
       [ 1.26232258, -0.59240721, -0.81956877,  0.70275808],
       [ 0.8977627 ,  1.18991955, -0.58176403,  1.4100661 ],
       [ 0.70919725, -0.04679698, -1.13664176,  0.64970998],
       [ 0.83490755, -0.04679698,  0.44872317,  0.68507538],
       [ 0.9354758 ,  1.18991955,  1.08286915, -0.41125204],
       [ 0.62120004,  1.00804947, -0.58176403, -0.07528074],
       [ 0.58348695,  0.1350731 , -0.81956877,  0.49056568],
       [ 0.33206634,  1.69915577, -0.1854228 , -0.39356934],
       [ 0.04293264,  0.64430932, -0.58176403, -0.25210774],
       [ 0.0680747 , -0.99252138, -0.66103228, -0.37588664],
       [ 1.51374319,  0.49881325, -1.29517825,  0.87958509],
       [ 0.68405519, -0.22866706, -0.1854228 ,  1.3393353 ],
       [ 0.49548973, -0.91977335, -0.74030053, -0.18137694],
       [ 1.08632816,  0.78980538, -1.53298299,  0.20764247],
       [ 0.28178222, -0.30141509, -0.34395929,  0.13691167],
       [ 0.04293264, -0.99252138, -0.66103228,  0.79117158],
       [ 1.50117216,  0.24419515, -0.50249579, -0.58807905],
       [ 1.71487968, -0.3377891 , -0.74030053,  1.07409479],
       [ 1.11147022, -0.91977335, -1.21591001,  0.98568129],
       [ 1.36289083,  0.09869908, -0.34395929,  1.4100661 ],
       [ 1.16175434, -0.37416312, -0.34395929,  0.87958509],
       [ 0.04293264, -1.21076548, -1.53298299,  2.34724922],
       [ 1.02347301,  0.82617939, -1.13664176,  1.25092179],
       [ 1.01090198,  0.17144711, -0.34395929,  0.50824838],
       [ 0.94804683,  1.11717152,  0.21091843,  0.17227707],
       [ 0.91033373, -0.44691115, -1.21591001,  0.06618087],
       [ 0.68405519,  0.31694318, -1.29517825,  1.533845  ],
       [ 1.51374319, -0.26504107, -0.81956877,  0.79117158],
       [ 0.34463737,  1.11717152, -0.42322754,  0.13691167],
       [ 0.88519167,  0.46243924, -1.3744465 ,  0.80885428],
       [-0.81189742, -3.68419854, -0.66103228, -2.05574318],
       [-0.86218154, -0.3377891 ,  2.11335635, -2.07342588],
       [-0.4724796 , -1.28351351,  1.32067389, -1.70208917],
       [ 0.82233652, -1.64725366, -0.34395929, -1.50757947],
       [-0.81189742, -0.77427729, -1.3744465 ,  0.50824838],
       [-1.06331803,  0.57156129,  0.68652791, -0.97709846],
       [-0.81189742,  0.68068333,  0.05238194,  0.87958509],
       [ 0.11835882, -2.44748201, -0.81956877,  1.23323909],
       [-0.81189742, -1.64725366, -0.74030053, -0.95941576],
       [ 0.40749252, -0.04679698,  1.47921038, -2.05574318],
       [-1.01303391, -2.26561193, -1.77078773,  1.6222585 ],
       [ 1.0611861 ,  1.0807975 , -1.21591001,  0.50824838],
       [ 0.59605798, -0.48328517, -0.74030053, -0.97709846],
       [-0.03249354,  0.82617939, -1.21591001,  0.66739268],
       [-1.32730967, -0.26504107, -1.85005598,  0.11922897],
       [-1.70444058, -1.64725366, -0.1854228 , -0.76490605],
       [ 0.01779058, -2.41110799, -0.97810527, -0.21674234],
       [-1.47816203, -0.51965918,  0.52799142, -1.11856006],
       [-0.86218154, -1.53813162, -0.10615455,  2.08200871],
       [-0.39705342,  0.09869908,  0.52799142,  0.64970998],
       [-1.27702554, -1.35626154, -0.50249579, -0.26979044],
       [-0.37191136, -0.62878123, -0.81956877,  0.33142137],
       [-1.1764573 ,  0.49881325,  0.29018668, -0.32283854],
       [ 0.04293264, -0.19229304,  1.95481986,  0.06618087],
       [-1.47816203,  0.75343136, -1.13664176,  1.357018  ],
       [-0.43476651, -0.48328517, -0.50249579, -0.21674234],
       [-1.07588906, -0.22866706,  0.52799142, -0.03991534],
       [-1.71701161,  0.89892743,  0.29018668, -0.42893474],
       [-1.72958264,  0.31694318,  0.92433265, -0.41125204],
       [-1.1764573 , -0.26504107,  0.44872317, -0.35820394],
       [-1.1764573 , -0.19229304,  1.24140564,  0.10154627],
       [-1.27702554,  0.17144711,  1.08286915,  0.08386357],
       [-0.40962445, -0.41053713,  1.71701512,  0.06618087],
       [-0.91246566, -0.5560332 , -0.89883702,  0.72044078],
       [-1.7547247 , -0.3377891 , -1.53298299, -0.41125204],
       [-1.51587512,  1.33541561, -1.77078773, -0.03991534],
       [-0.91246566, -1.42900957, -0.58176403,  0.33142137],
       [-0.81189742, -0.99252138, -0.97810527,  0.64970998],
       [-0.91246566, -0.59240721,  0.68652791,  2.17042222],
       [-1.1764573 , -2.44748201, -0.81956877, -0.32283854],
       [-0.52276372, -1.7200017 , -0.58176403, -0.41125204],
       [-0.635903  , -1.42900957, -0.34395929, -0.18137694],
       [-0.74904227, -0.37416312,  2.35116109, -0.28747314],
       [-0.96274979, -0.91977335,  0.05238194,  0.08386357],
       [-0.37191136, -0.3377891 ,  0.92433265,  0.08386357],
       [-1.00046288, -1.57450563,  0.21091843,  0.87958509],
       [-1.76729573,  1.18991955, -0.58176403,  1.6045758 ],
       [-1.95586118, -2.01099382, -0.97810527,  3.53199015],
       [-0.62333197, -0.73790328, -0.81956877, -0.64112715],
       [-1.57873027,  1.99014789,  1.87555161, -0.94173306],
       [-2.01871633,  0.46243924,  0.44872317, -0.25210774],
       [-1.1764573 ,  0.46243924,  0.52799142, -0.95941576],
       [-2.49641549, -0.62878123,  1.24140564,  0.75580618],
       [-1.50330409, -1.39263556, -0.50249579, -0.09296344],
       [-0.74904227, -0.66515524, -0.1854228 ,  0.04849817],
       [-0.30905621, -1.42900957,  0.52799142, -1.33075247],
       [-1.27702554, -1.35626154,  0.05238194,  0.50824838],
       [-1.83015088,  3.11774238,  0.84506441,  0.50824838],
       [-0.74904227,  1.2990416 ,  0.52799142,  0.22532517],
       [ 0.04293264, -0.88339934, -0.50249579,  0.75580618],
       [-1.44044894,  0.06232507, -1.21591001,  2.34724922],
       [-1.18902833, -0.73790328,  0.05238194, -0.41125204],
       [-0.73647124, -0.30141509,  0.21091843,  0.33142137],
       [-1.54101718,  1.48091168,  1.71701512,  0.31373867],
       [-0.81189742, -0.26504107,  0.29018668,  0.56129648],
       [-1.22674142,  0.02595105,  0.44872317, -0.41125204],
       [-0.19591693, -0.19229304, -1.21591001, -1.13624276],
       [-0.17077487,  0.09869908, -0.97810527, -1.33075247],
       [-0.25877209,  0.09869908, -0.74030053, -1.33075247],
       [-0.39705342, -0.04679698, -1.53298299, -1.31306976],
       [-0.635903  , -0.44691115,  1.87555161, -0.58807905],
       [-0.52276372, -0.62878123,  2.11335635, -1.13624276],
       [-0.96274979,  0.6079353 ,  1.32067389, -1.38380057],
       [-0.61076094,  0.97167546,  2.11335635, -0.85331955],
       [ 0.59605798, -0.66515524,  1.71701512, -1.24233896],
       [-0.221059  ,  0.86255341,  1.32067389, -1.36611787],
       [-0.10791972,  1.18991955,  1.32067389, -1.47221407],
       [ 0.43263458, -0.08317099,  0.05238194, -1.66672377],
       [ 0.63377107,  1.26266758,  1.08286915, -1.82586808],
       [ 0.75948137, -0.08317099,  0.84506441, -0.99478116],
       [-0.96274979, -0.62878123, -0.58176403, -0.78258875],
       [ 0.18121398, -0.81065131,  0.52799142, -0.49966555],
       [ 1.08632816, -0.51965918,  0.29018668, -1.59599297],
       [-0.1833459 ,  0.38969121,  0.84506441, -1.27770436],
       [ 0.38235046,  0.02595105,  0.68652791, -0.58807905],
       [ 0.08064573, -0.04679698, -0.1854228 , -0.78258875],
       [ 0.60862901,  0.89892743, -1.13664176, -0.58807905],
       [-0.28391415,  0.38969121, -0.97810527, -0.57039635],
       [ 0.11835882,  1.37178963, -0.81956877, -0.03991534],
       [ 0.26921119, -0.3377891 ,  1.95481986,  0.50824838],
       [-0.54790578, -0.99252138,  1.32067389, -0.32283854],
       [ 0.19378501, -0.19229304,  1.95481986, -0.05759804],
       [ 1.03604404,  0.02595105,  0.92433265, -0.03991534],
       [-0.71132918,  0.97167546,  2.11335635, -0.78258875],
       [ 1.66459556,  1.18991955,  1.32067389,  1.97591251],
       [ 0.58348695,  0.97167546,  1.24140564,  1.25092179],
       [-0.82446845,  0.02595105,  1.08286915, -0.95941576],
       [ 0.84747858,  0.6079353 ,  1.08286915, -1.38380057],
       [-0.20848797,  0.75343136,  1.87555161, -1.10087736],
       [-0.07020663, -0.08317099,  0.29018668, -1.13624276],
       [ 0.96061786, -0.26504107,  0.36945493, -0.97709846],
       [ 0.8977627 , -0.41053713,  1.24140564, -0.76490605],
       [ 0.54577386,  0.82617939,  0.52799142, -0.21674234],
       [-0.24620106, -0.26504107,  0.29018668, -1.08319466],
       [ 0.70919725,  1.15354554,  0.21091843, -0.07528074],
       [ 0.4829187 ,  1.7719038 , -0.74030053, -0.83563685],
       [-1.02560494, -0.19229304,  0.29018668, -1.50757947],
       [-0.30905621, -0.3377891 ,  0.92433265, -1.66672377],
       [ 1.43831701,  0.38969121,  0.60725967, -0.60576175],
       [ 0.87262064,  0.28056916,  1.24140564, -0.92405036],
       [ 0.4829187 ,  0.38969121,  0.52799142, -0.30515584],
       [ 0.31949531, -0.41053713,  0.52799142, -0.41125204],
       [ 0.19378501, -0.01042296,  1.32067389, -0.21674234],
       [ 1.40060392,  1.33541561,  1.55847863, -0.41125204]])

In [65]:
df_tt_sc= pd.DataFrame(df_sp_1_sc, columns = df_sp_1.columns)

In [66]:
df_tt_sc

      alcohol       ash  nonflavanoid_phenols  proanthocyanins
0    1.526314  0.207821             -0.661032         1.250922
1    0.181214  1.080798             -0.502496         2.170422
2    1.702309  0.462439             -0.978105         1.056412
3    0.281782  1.808278              0.210918         0.419835
4    1.488601  0.280569             -0.185423         0.685075
..        ...       ...                   ...              ...
166  0.872621  0.280569              1.241406        -0.924050
167  0.482919  0.389691              0.527991        -0.305156
168  0.319495 -0.410537              0.527991        -0.411252
169  0.193785 -0.010423              1.320674        -0.216742
170  1.400604  1.335416              1.558479        -0.411252

[171 rows x 4 columns]

In [67]:
kmeans.fit(df_tt_sc)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=111, tol=0.0001, verbose=0)

In [68]:
#실제로 군집이 어떻게 되었나?
print(kmeans.labels_) # 자동으로 군집화 된 내용을 공유해 준다.

[2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 1 2 2 2 2 2 0 2 2 2 2 1
 2 2 1 2 2 1 2 2 2 2 2 1 2 2 2 2 2 2 2 2 1 0 0 1 1 0 1 1 1 0 1 2 2 2 1 1 1
 0 1 0 1 1 0 0 1 1 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 0 1 0 1 1 1 1 0 0 0 1 1
 1 0 1 0 0 1 1 1 1 0 1 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 2 1 2 0 0
 0 0 0 2 2 0 0 0 0 0 0 0 0 2 2 0 0 2 0 0 0 0 0]

In [69]:
df_tt_sc['cluster'] = kmeans.labels_

In [70]:
df_tt_sc.groupby(['cluster'])['ash'].count()

cluster
0    62
1    48
2    61
Name: ash, dtype: int64

- 거리기반으로 민감하게 움직이기 때문에 스케일링과 변수들의 이상치 등을 고려하여 군집을 만들어야 합니다.

- 몇 개의 군집이 정말 적정한것인가? 
- 질문에 대한 답변으로 바라보는 점수들이 있다.
- inertia, 실루엣 점수, 엘보우 점수 군집의 점수를 판단하는 것인데
- 점수가 잘 나온다고해서 해당 군집의 개수를 선정하는 것이 아니라
- 정말 군집이 잘 형성이 되었는지 시각화를 통해서도 봐야 한다.

In [72]:
df_tt_sc

      alcohol       ash  nonflavanoid_phenols  proanthocyanins  cluster
0    1.526314  0.207821             -0.661032         1.250922        2
1    0.181214  1.080798             -0.502496         2.170422        2
2    1.702309  0.462439             -0.978105         1.056412        2
3    0.281782  1.808278              0.210918         0.419835        2
4    1.488601  0.280569             -0.185423         0.685075        2
..        ...       ...                   ...              ...      ...
166  0.872621  0.280569              1.241406        -0.924050        0
167  0.482919  0.389691              0.527991        -0.305156        0
168  0.319495 -0.410537              0.527991        -0.411252        0
169  0.193785 -0.010423              1.320674        -0.216742        0
170  1.400604  1.335416              1.558479        -0.411252        0

[171 rows x 5 columns]

- 4차원 이상의 차원을 시각화하게 되면 우리는 이 부분을 이해할 수 없다.
- 이런 다차원의 특성을 확인하기 위해서 차원축소를 하는 것이다. pca 
- 차원 축소를 하는 이유가 고차원에 대한 변수들을 군집화 했을 때 시각화하면 볼 수가 없다.
- 이것을 2개의 차원으로 축소하여 군집화를 시각화해보면서 정말 잘 시각화되었는지 확인하는 것

### 필수과제 1

- from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler

- 스케일링 진행하지 않은 2개 + 추가로 더 하셔도 됩니다 abs, 등으로 차이를 비교해 주세요!

### 필수과제 2
- 고객데이터를 올릴 것
- 해당 고객데이터를 기반으로 여러분들이 가설을 세워서 어떤 컬럼을 사용할 것인지 정리하고
- 해당 컬럼을 기반으로 kmeans를 진행하여서 분석에 대한 인사이트를 정리해 주세요!
- 군집에 대해서 몇 개를 선정하는지에 대한 질문의 답변은 위에 적어놨으니
- 가능하신 분은 구글링을 통해서 해당 지표도 만들어 보시면 좋을 것 같습니다.

- 인사이트입니다.
- 기존에 데이터가 어떤 패턴을 보였고
- 우리가 선정한 컬럼을 통해서 만들어진 군집 ( 고객군 ) 어떤 패턴을 보이는지