### 기본 연산

In [3]:
# 기본 연산
print(123 + 456)
print(100 * 1004)

579
100400

In [4]:
#정수형 상수의 표현 범위는 제한이 없으며, CPU 레지스터로 표현할 수 있는 크기보다 큰 정수를 다룰 때는 연산 속도가 느려집니다.
print(2 ** 64)

18446744073709551616

In [5]:
#정확히 나누어 떨어지지 않는 경우, 파이썬 에서는 소수점 15자리 까지 표현합니다.
print(5048 / 123)

41.040650406504064

In [6]:
#소수점 이하의 수를 모두 버리고 몫만 나타낼 때 ‘//’ 연산자를 사용
print(5048 // 123)

41

In [7]:
#나머지를 구할 때 %’ 연산자를 사용
print(33 % 5)

3

### 논리연산

In [8]:
# and 
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [9]:
# or
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [10]:
print(not True)
print(not False)

False
True

### 비교연산

In [11]:
#비교 판단
print(5 > 2)

True

In [12]:
#숫자 비교
print(7 == 7)    # 7과 7이 같은지 비교
print(7 != 5)    # 7과 5가 다른지 비교

True
True

In [13]:
#문자 비교
print('Python' == 'Python')
print('Python' == 'python')
print('Python' != 'python')

True
False
True

In [14]:
#부등호 비교
print(1 > 2)    # 1이 2보다 큰지 비교
print(1 < 2)    # 1이 2보다 작은지 비교
print(1 >= 1)   # 1이 1보다 크거나 같은지 비교
print(1 <= 1)   # 1이 1보다 작거나 같은지 비교

False
True
True
True

In [15]:
#객체비교
print(1 == 1.0)
print(1 is 1.0)
print(1 is not 1.0)

True
False
True

### 2.변수와 자료형

#### 변수

In [17]:
# 변수만들기(할당)
x = 155
print(x)

155

In [18]:
y = 'Hello, Python!'
print(y)

Hello, Python!

In [19]:
# 여러 변수 만들기(할당)
## 변수이름1, 변수이름2, 변수이름3 = 값1, 값2, 값3 형식으로 변수를 ,(콤마)로 구분한 뒤 각 변수에 할당될 값을 지정합니다. 
## 변수와 값의 개수는 동일하게 하고 나열된 순서대로 값이 할당되며 만약 변수와 값의 개수가 맞지 않으면 에러가 발생한다.
x, y, z = 100, 200, 300
print(x)
print(y)
print(z)

100
200
300

In [20]:
#변수 삭제(메모리 할당 해제)
#변수 삭제는 del을 사용합니다. 변수 x를 삭제하여 변수가 없어졌으므로 x가 정의되지 않았다는 메시지와 함께 NameError가 발생합니다. 지금은 변수 삭제가 큰 의미가 없지만 나중에 리스트를 사용할 때 del이 유용하게 쓰임니다. 
x = 10
del x
print(x)

NameError: name 'x' is not defined

#### 자료형

##### 1) Numbers

In [21]:
int_var1 = 1
print(int_var1)

1

In [22]:
int_var2 = -10
print(int_var2)

-10

In [23]:
float_var1 = 15.20
print(float_var1)

15.2

In [24]:
float_var2 = 70.2-1E12
print(float_var2)

-999999999929.8

In [25]:
complex_var1 = 3.14j
print(complex_var1)

3.14j

In [26]:
complex_var2 = 4.53e1-7j
print(complex_var2)

(45.3-7j)

##### 2) Strings

In [27]:
str = 'Hello World!'
print(str)

Hello World!

In [28]:
print(str[0])

H

In [29]:
print(str[2:5])

llo

In [30]:
print(str[2:])

llo World!

In [31]:
print(str * 2)

Hello World!Hello World!

In [32]:
print(str + "TEST")

Hello World!TEST

##### 3) Lists

In [33]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']
print (list)

['abcd', 786, 2.23, 'john', 70.2]

In [34]:
print (list[0])

abcd

In [35]:
print (list[1:3])

[786, 2.23]

In [36]:
print (list[2:])

[2.23, 'john', 70.2]

In [37]:
print (tinylist * 2)

[123, 'john', 123, 'john']

In [38]:
print (list + tinylist)

['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

##### 4) Tuples

In [40]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')
print (tuple)

('abcd', 786, 2.23, 'john', 70.2)

In [41]:
print (tuple[0])

abcd

In [42]:
print (tuple[1:3])

(786, 2.23)

In [43]:
print (tuple[2:])

(2.23, 'john', 70.2)

In [44]:
print (tinytuple * 2)

(123, 'john', 123, 'john')

In [45]:
print (tuple + tinytuple)

('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

##### 5) Dictionary

In [46]:
dict = { }
dict['one'] = "This is one"
dict[2]     = "This is two"
tinydict = {'name': 'john','code':6734, 'dept': 'sales'}
print (dict['one'])

This is one

In [47]:
print (dict[2])

This is two

In [48]:
print (tinydict)

{'name': 'john', 'code': 6734, 'dept': 'sales'}

In [49]:
print (tinydict.keys())

dict_keys(['name', 'code', 'dept'])

In [50]:
print (tinydict.values())

dict_values(['john', 6734, 'sales'])

### 3.함수와 모듈

#### 함수

In [1]:
# 함수 이름은 add이고 입력으로 2개의 값을 받으며 결과는 2개의 입력을 더한 값
def add(a, b): 
    return a + b
a = 3
b = 4
c = add(a, b)
print(c)

7

#### 모듈

#### 새 노트북 창을 열어 mo1.py 모듈 만들기

In [51]:
# File-Download as-Python(mo1.py) 파이썬 파일로 저장하기 
def add(a, b):
    return a + b

def sub(a, b): 
    return a-b

In [53]:
import mo1
print(mo1.add(3, 4))
print(mo1.sub(4, 2))

7
2

In [54]:
from mo1 import add
add(3, 4)

7