### 데이터 요약 정보 확인 - 데이터 분석의 시작

- tips 데이터 확인

In [3]:
import pandas as pd
import seaborn as sns

tips=sns.load_dataset("tips")  # seaborn에 있는 tips라는 데이터셋 불러오기
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [9]:
tips.info()  # 데이터프레임 기본 정보 확인
tips.head(5)
tips.tail(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

### 행 단위로 데이터 가져오기 - 판다스 제공 함수 이용

- loc(인덱스)
- iloc(행 번호)

In [20]:
# loc
tips1=tips.drop([2]) # 인덱스 2 삭제
tips1=tips.loc[[1,3,5]]
tips1=tips.loc[0:3]
tips1=tips.loc[0:3,['sex','day']]  # 원하는 행, 열 모두 선택 가능
tips1=tips.at[0,'sex']  # 특정 행, 열 값만 딱 가져오기 / loc 써도 똑같음
tips1=tips.loc[0,'sex']
tips1

'Female'

In [14]:
# iloc
tips1.iloc[2]
tips1.iloc[-1]  # 음수도 가능
# tips.loc[2] 오류

total_bill     18.78
tip              3.0
sex           Female
smoker            No
day             Thur
time          Dinner
size               2
Name: 243, dtype: object