### 데이터 요약 정보 확인 - 데이터 분석의 시작

- tips 데이터 확인

In [2]:
import pandas as pd
import seaborn as sns

tips=sns.load_dataset("tips")  # seaborn에 있는 tips라는 데이터셋 불러오기
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [3]:
tips.info()  # 데이터프레임 기본 정보 확인
tips.head(5)
tips.tail(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

### 행 단위로 데이터 가져오기 - 판다스 제공 함수 이용

- loc(인덱스)
- iloc(행 번호)

In [10]:
# loc
tips1=tips.drop([2]) # 인덱스 2 삭제
# tips.loc[2] 오류
tips1=tips.loc[[1,3,5]]
tips1=tips.loc[0:3]
tips1=tips.loc[0:3,['sex','day']]  # 원하는 행, 열 모두 선택 가능
tips1=tips.at[0,'sex']  # 특정 행, 열 값만 딱 가져오기 / loc 써도 똑같음
tips1=tips.loc[0,'sex']
tips1

In [13]:
# iloc
tips1.iloc[2]
tips1.iloc[-1]  # 음수도 가능
tips1.iloc[3:5,0:2]  # 행 번호 기준으로 선택
tips.iloc[[1,2,4],[0,2]]  # 인덱스 기준으로 선택

   total_bill   tip
4       24.59  3.61
5       25.29  4.71

### 조건을 이용하여 선택

- 특정한 열의 값들을 기준으로 조건을 만들어 해당 조건에 만족하는 '행' 선택
- and(&), or(|), not(~), 비교(==)

In [15]:
# 전체 데이터 중 팁이 5달러 이상
tips[tips.tip>=5]  # tips데이터에서 tip이 5 이상인 행 선택

     total_bill    tip     sex smoker   day    time  size
11        35.26   5.00  Female     No   Sun  Dinner     4
23        39.42   7.58    Male     No   Sat  Dinner     4
39        31.27   5.00    Male     No   Sat  Dinner     3
44        30.40   5.60    Male     No   Sun  Dinner     4
46        22.23   5.00    Male     No   Sun  Dinner     2
47        32.40   6.00    Male     No   Sun  Dinner     4
52        34.81   5.20  Female     No   Sun  Dinner     4
59        48.27   6.73    Male     No   Sat  Dinner     4
73        25.28   5.00  Female    Yes   Sat  Dinner     2
83        32.68   5.00    Male    Yes  Thur   Lunch     2
85        34.83   5.17  Female     No  Thur   Lunch     4
88        24.71   5.85    Male     No  Thur   Lunch     2
116       29.93   5.07    Male     No   Sun  Dinner     4
141       34.30   6.70    Male     No  Thur   Lunch     6
142       41.19   5.00    Male     No  Thur   Lunch     5
143       27.05   5.00  Female     No  Thur   Lunch     6
155       29.85   5.14  Female     No   Sun  Dinner     5
156       48.17   5.00    Male     No   Sun  Dinner     6
170       50.81  10.00    Male    Yes   Sat  Dinner     3
172        7.25   5.15    Male    Yes   Sun  Dinner     2
181       23.33   5.65    Male    Yes   Sun  Dinner     2
183       23.17   6.50    Male    Yes   Sun  Dinner     4
185       20.69   5.00    Male     No   Sun  Dinner     5
197       43.11   5.00  Female    Yes  Thur   Lunch     4
211       25.89   5.16    Male    Yes   Sat  Dinner     4
212       48.33   9.00    Male     No   Sat  Dinner     4
214       28.17   6.50  Female    Yes   Sat  Dinner     3
239       29.03   5.92    Male     No   Sat  Dinner     3

In [20]:
# and 조건
tips[(tips.sex=='Male')&(tips.smoker=='No')]
tips[(tips['sex']=='Male')&(tips['smoker']=='No')]  # tips.열 또는 tips['열'] 둘 중 하나

     total_bill   tip   sex smoker  day    time  size
1         10.34  1.66  Male     No  Sun  Dinner     3
2         21.01  3.50  Male     No  Sun  Dinner     3
3         23.68  3.31  Male     No  Sun  Dinner     2
5         25.29  4.71  Male     No  Sun  Dinner     4
6          8.77  2.00  Male     No  Sun  Dinner     2
..          ...   ...   ...    ...  ...     ...   ...
232       11.61  3.39  Male     No  Sat  Dinner     2
233       10.77  1.47  Male     No  Sat  Dinner     2
235       10.07  1.25  Male     No  Sat  Dinner     2
239       29.03  5.92  Male     No  Sat  Dinner     3
242       17.82  1.75  Male     No  Sat  Dinner     2

[97 rows x 7 columns]

In [26]:
# 특정 조건 선택 isin
tips.day.isin(['Sun'])
tips['day'].isin(['Sun'])  # 둘 다 가능

tips[tips.tip==1]
tips[tips.tip.isin([1])]  # 둘 다 가능

     total_bill  tip     sex smoker  day    time  size
67         3.07  1.0  Female    Yes  Sat  Dinner     1
92         5.75  1.0  Female    Yes  Fri  Dinner     2
111        7.25  1.0  Female     No  Sat  Dinner     1
236       12.60  1.0    Male    Yes  Sat  Dinner     2

### 열 변수 추출

In [33]:
tips.tip
tips['tip']  # 특정 열만 뽑아서 보여주고, 데이터 타입과 길이를 알려줌

tips[['total_bill','tip','day']]  # 여러 열을 뽑을 때는 대괄호 형식 이용

     total_bill   tip   day
0         16.99  1.01   Sun
1         10.34  1.66   Sun
2         21.01  3.50   Sun
3         23.68  3.31   Sun
4         24.59  3.61   Sun
..          ...   ...   ...
239       29.03  5.92   Sat
240       27.18  2.00   Sat
241       22.67  2.00   Sat
242       17.82  1.75   Sat
243       18.78  3.00  Thur

[244 rows x 3 columns]

### 파생 변수 생성

In [35]:
tips['total']=tips['total_bill']+tips['tip']
tips

     total_bill   tip     sex smoker   day    time  size  total
0         16.99  1.01  Female     No   Sun  Dinner     2  18.00
1         10.34  1.66    Male     No   Sun  Dinner     3  12.00
2         21.01  3.50    Male     No   Sun  Dinner     3  24.51
3         23.68  3.31    Male     No   Sun  Dinner     2  26.99
4         24.59  3.61  Female     No   Sun  Dinner     4  28.20
..          ...   ...     ...    ...   ...     ...   ...    ...
239       29.03  5.92    Male     No   Sat  Dinner     3  34.95
240       27.18  2.00  Female    Yes   Sat  Dinner     2  29.18
241       22.67  2.00    Male    Yes   Sat  Dinner     2  24.67
242       17.82  1.75    Male     No   Sat  Dinner     2  19.57
243       18.78  3.00  Female     No  Thur  Dinner     2  21.78

[244 rows x 8 columns]

### 열 변수 자료형 확인 및 변환

In [47]:
# 데이터프레임 자료형 확인
tips.dtypes

# 데이터프레임 열의 자료형 확인
type(tips.total_bill)

# 데이터프레임 자료형 변환
tips['smoker_str']=tips['smoker'].astype(str)
tips.dtypes

# category 와 object 의 차이 - category < object !!
## 문자열의 특수한 형태. 범주화가 가능한 경우 category로 지정하는 것이 효율적

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
total          float64
smoker_str      object
dtype: object

### 정렬
- 데이터프레임 정렬: df.sort_values()
- 튜플 정렬: sorted(tuple,key)
- 리스트 정렬: list.sort() / sorted(list)

In [60]:
# 데이터프레임 정렬
tips.sort_values(by=['total_bill'],axis=0)  # 지급액 열을 기준으로 오름차순 정렬
tips.sort_values(by=['total_bill'],axis=0,ascending=False)  # 지급액 열을 기준으로 내림차순 정렬

tips.sort_index(axis=1)  # 열 이름을 알파벳 순서로 정렬

      day     sex  size smoker smoker_str    time   tip  total  total_bill
0     Sun  Female     2     No         No  Dinner  1.01  18.00       16.99
1     Sun    Male     3     No         No  Dinner  1.66  12.00       10.34
2     Sun    Male     3     No         No  Dinner  3.50  24.51       21.01
3     Sun    Male     2     No         No  Dinner  3.31  26.99       23.68
4     Sun  Female     4     No         No  Dinner  3.61  28.20       24.59
..    ...     ...   ...    ...        ...     ...   ...    ...         ...
239   Sat    Male     3     No         No  Dinner  5.92  34.95       29.03
240   Sat  Female     2    Yes        Yes  Dinner  2.00  29.18       27.18
241   Sat    Male     2    Yes        Yes  Dinner  2.00  24.67       22.67
242   Sat    Male     2     No         No  Dinner  1.75  19.57       17.82
243  Thur  Female     2     No         No  Dinner  3.00  21.78       18.78

[244 rows x 9 columns]

In [62]:
# 행 합계
tips.sum(axis=1)  # axis=0(열) 이 기본값 / axis=1(행)
tips.sum()

C:\Users\victo\AppData\Local\Temp\ipykernel_25928\2822517843.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  tips.sum(axis=1)  # axis=0(열) 이 기본값 / axis=1(행)
C:\Users\victo\AppData\Local\Temp\ipykernel_25928\2822517843.py:3: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  tips.sum()

total_bill                                              4827.77
tip                                                      731.58
size                                                        627
total                                                   5559.35
smoker_str    NoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNo...
dtype: object

### 데이터 연결과 병합
- 연결(Concatenate): 기준 열 없이 데이터를 다른 행 또는 열에 결합

In [67]:
# 시리즈 연결
import pandas as pd
s1=pd.Series([0,1],index=['A','B'])
s2=pd.Series([2,3,4],index=['c','d','e'])

# 행 연결
pd.concat([s1,s2])

# 열 연결
pd.concat([s1,s2],axis=1)  # 없는 데이터는 NaN 처리

     0    1
A  0.0  NaN
B  1.0  NaN
c  NaN  2.0
d  NaN  3.0
e  NaN  4.0

In [71]:
# 데이터프레임 열 연결
df1=pd.DataFrame([['Dog','3'],['Bird','10'],['Tiger','6'],['Moose','3']],index=['0','1','2','3'],columns=['동물','나이'])
df2=pd.DataFrame([['집','0'],['초원','0'],['수풀','0'],['초원','1']],index=['0','1','2','3'],columns=['사는 곳','뿔의 개수'])
pd.concat([df1,df2],axis=1)

      동물  나이 사는 곳 뿔의 개수
0    Dog   3    집     0
1   Bird  10   초원     0
2  Tiger   6   수풀     0
3  Moose   3   초원     1

- 병합(Merge): 두 데이터프레임의 공통 열 혹은 인덱스를 기준으로 두 개의 테이블을 병합하는 것

In [72]:
import pandas as pd

# 병합용 데이터프레임 생성
df1 = pd.DataFrame({ '고객번호': [1001, 1002, 1003, 1004, 1005, 1006, 1007],
    '이름': ['강감찬', '홍길동', '이순신', '장보고', '유관순', '신사임당', '세종대왕']
}, columns=['고객번호', '이름'])

df2 = pd.DataFrame({'고객번호': [1001, 1001, 1005, 1006, 1008, 1001],
    '금액': [10000, 20000, 15000, 5000, 100000, 30000]
}, columns=['고객번호', '금액'])

In [80]:
# inner join
pd.merge(df1,df2,on='고객번호')  # how를 지정 안하면 기본으로 inner 인듯
pd.merge(df1,df2,how='inner', on='고객번호')  # how로 따로 지정해줄 수도 있음

# full join
pd.merge(df1,df2,how='outer',on='고객번호')

# left join
pd.merge(df1, df2, how='left', on='고객번호')

# right join
pd.merge(df1, df2, how='right', on='고객번호')

   고객번호    이름      금액
0  1001   강감찬   10000
1  1001   강감찬   20000
2  1005   유관순   15000
3  1006  신사임당    5000
4  1008   NaN  100000
5  1001   강감찬   30000