# 7장 - 집계 시 지저분한 데이터 다루기
1. 데이터 분석 프로젝트 대부분에서 집계가 필요. 가장 중요한 단계

## itertuples을 활용한 데이터 순회(안티 패턴)

In [1]:
import pandas as pd
import numpy as np

coviddaily=pd.read_csv('C:/data-cleansing-main/Chapter07/data/coviddaily720.csv',parse_dates=['casedate'])
ltbrazil=pd.read_csv('C:/data-cleansing-main/Chapter07/data/ltbrazil.csv')

In [4]:
coviddaily

,iso_code,casedate,location,continent,new_cases,new_deaths,population,pop_density,median_age,gdp_per_capita,hosp_beds,region
0,AFG,2019-12-31,Afghanistan,Asia,0.0,0.0,38928341.0,54.422,18.6,1803.987,0.5,South Asia
1,AFG,2020-01-01,Afghanistan,Asia,0.0,0.0,38928341.0,54.422,18.6,1803.987,0.5,South Asia
2,AFG,2020-01-02,Afghanistan,Asia,0.0,0.0,38928341.0,54.422,18.6,1803.987,0.5,South Asia
3,AFG,2020-01-03,Afghanistan,Asia,0.0,0.0,38928341.0,54.422,18.6,1803.987,0.5,South Asia
4,AFG,2020-01-04,Afghanistan,Asia,0.0,0.0,38928341.0,54.422,18.6,1803.987,0.5,South Asia
...,...,...,...,...,...,...,...,...,...,...,...,...
29208,ZWE,2020-07-08,Zimbabwe,Africa,53.0,0.0,14862927.0,42.729,19.6,1899.775,1.7,Southern Africa
29209,ZWE,2020-07-09,Zimbabwe,Africa,98.0,0.0,14862927.0,42.729,19.6,1899.775,1.7,Southern Africa
29210,ZWE,2020-07-10,Zimbabwe,Africa,41.0,3.0,14862927.0,42.729,19.6,1899.775,1.7,Southern Africa
29211,ZWE,2020-07-11,Zimbabwe,Africa,16.0,1.0,14862927.0,42.729,19.6,1899.775,1.7,Southern Africa
29212,ZWE,2020-07-12,Zimbabwe,Africa,40.0,5.0,14862927.0,42.729,19.6,1899.775,1.7,Southern Africa

In [3]:
coviddaily=coviddaily.sort_values(['location','casedate'])          # 데이터를 위치와 날짜별로 정렬

### itertuples로 행들을 순회(?)

In [7]:
prevloc='ZZZ'
rowlist=[]
for row in coviddaily.itertuples():
  if (prevloc != row.location):
    if (prevloc != 'ZZZ'):
      rowlist.append({'location':prevloc, 'casecnt':casecnt})
    casecnt = 0
    prevloc = row.location
  casecnt += row.new_cases

rowlist.append({'location':prevloc,'casecnt':casecnt})
len(rowlist)
rowlist

[{'location': 'Afghanistan', 'casecnt': 34451.0},
 {'location': 'Albania', 'casecnt': 3371.0},
 {'location': 'Algeria', 'casecnt': 18712.0},
 {'location': 'Andorra', 'casecnt': 855.0},
 {'location': 'Angola', 'casecnt': 483.0},
 {'location': 'Anguilla', 'casecnt': 3.0},
 {'location': 'Antigua and Barbuda', 'casecnt': 74.0},
 {'location': 'Argentina', 'casecnt': 97509.0},
 {'location': 'Armenia', 'casecnt': 31392.0},
 {'location': 'Aruba', 'casecnt': 105.0},
 {'location': 'Australia', 'casecnt': 9553.0},
 {'location': 'Austria', 'casecnt': 18795.0},
 {'location': 'Azerbaijan', 'casecnt': 23521.0},
 {'location': 'Bahamas', 'casecnt': 111.0},
 {'location': 'Bahrain', 'casecnt': 32470.0},
 {'location': 'Bangladesh', 'casecnt': 181129.0},
 {'location': 'Barbados', 'casecnt': 103.0},
 {'location': 'Belarus', 'casecnt': 64767.0},
 {'location': 'Belgium', 'casecnt': 62606.0},
 {'location': 'Belize', 'casecnt': 37.0},
 {'location': 'Benin', 'casecnt': 1587.0},
 {'location': 'Bermuda', 'casecnt': 150.0},
 {'location': 'Bhutan', 'casecnt': 82.0},
 {'location': 'Bolivia', 'casecnt': 47200.0},
 {'location': 'Bonaire Sint Eustatius and Saba', 'casecnt': 7.0},
 {'location': 'Bosnia and Herzegovina', 'casecnt': 6402.0},
 {'location': 'Botswana', 'casecnt': 314.0},
 {'location': 'Brazil', 'casecnt': 1839850.0},
 {'location': 'British Virgin Islands', 'casecnt': 8.0},
 {'location': 'Brunei', 'casecnt': 141.0},
 {'location': 'Bulgaria', 'casecnt': 6672.0},
 {'location': 'Burkina Faso', 'casecnt': 1033.0},
 {'location': 'Burundi', 'casecnt': 250.0},
 {'location': 'Cambodia', 'casecnt': 156.0},
 {'location': 'Cameroon', 'casecnt': 14916.0},
 {'location': 'Canada', 'casecnt': 107335.0},
 {'location': 'Cape Verde', 'casecnt': 1591.0},
 {'location': 'Cayman Islands', 'casecnt': 201.0},
 {'location': 'Central African Republic', 'casecnt': 4288.0},
 {'location': 'Chad', 'casecnt': 874.0},
 {'location': 'Chile', 'casecnt': 312029.0},
 {'location': 'China', 'casecnt': 85071.0},
 {'location': 'Colombia', 'casecnt': 145362.0},
 {'location': 'Comoros', 'casecnt': 317.0},
 {'location': 'Congo', 'casecnt': 2028.0},
 {'location': 'Costa Rica', 'casecnt': 7231.0},
 {'location': "Cote d'Ivoire", 'casecnt': 12443.0},
 {'location': 'Croatia', 'casecnt': 3672.0},
 {'location': 'Cuba', 'casecnt': 2420.0},
 {'location': 'Curacao', 'casecnt': 25.0},
 {'location': 'Cyprus', 'casecnt': 1014.0},
 {'location': 'Czech Republic', 'casecnt': 12919.0},
 {'location': 'Democratic Republic of Congo', 'casecnt': 7970.0},
 {'location': 'Denmark', 'casecnt': 12946.0},
 {'location': 'Djibouti', 'casecnt': 4955.0},
 {'location': 'Dominica', 'casecnt': 18.0},
 {'location': 'Dominican Republic', 'casecnt': 48114.0},
 {'location': 'Ecuador', 'casecnt': 71200.0},
 {'location': 'Egypt', 'casecnt': 81158.0},
 {'location': 'El Salvador', 'casecnt': 9391.0},
 {'location': 'Equatorial Guinea', 'casecnt': 3071.0},
 {'location': 'Eritrea', 'casecnt': 232.0},
 {'location': 'Estonia', 'casecnt': 2014.0},
 {'location': 'Ethiopia', 'casecnt': 7402.0},
 {'location': 'Faeroe Islands', 'casecnt': 188.0},
 {'location': 'Falkland Islands', 'casecnt': 13.0},
 {'location': 'Fiji', 'casecnt': 21.0},
 {'location': 'Finland', 'casecnt': 7279.0},
 {'location': 'France', 'casecnt': 171518.0},
 {'location': 'French Polynesia', 'casecnt': 62.0},
 {'location': 'Gabon', 'casecnt': 5942.0},
 {'location': 'Gambia', 'casecnt': 64.0},
 {'location': 'Georgia', 'casecnt': 986.0},
 {'location': 'Germany', 'casecnt': 198804.0},
 {'location': 'Ghana', 'casecnt': 24248.0},
 {'location': 'Gibraltar', 'casecnt': 180.0},
 {'location': 'Greece', 'casecnt': 3772.0},
 {'location': 'Greenland', 'casecnt': 13.0},
 {'location': 'Grenada', 'casecnt': 23.0},
 {'location': 'Guam', 'casecnt': 312.0},
 {'location': 'Guatemala', 'casecnt': 28598.0},
 {'location': 'Guernsey', 'casecnt': 252.0},
 {'location': 'Guinea', 'casecnt': 6044.0},
 {'location': 'Guinea-Bissau', 'casecnt': 1842.0},
 {'location': 'Guyana', 'casecnt': 291.0},
 {'location': 'Haiti', 'casecnt': 6690.0},
 {'location': 'Honduras', 'casecnt': 27583.0},
 {'location': 'Hungary', 'casecnt': 4229.0},
 {'location': 'Iceland', 'casecnt': 1888.0},
 {'location': 'India', 'casecnt': 849553.0},
 {'location': 'Indonesia', 'casecnt': 74018.0},
 {'location': 'Iran', 'casecnt': 255117.0},
 {'location': 'Iraq', 'casecnt': 75194.0},
 {'location': 'Ireland', 'casecnt': 25611.0},
 {'location': 'Isle of Man', 'casecnt': 336.0},
 {'location': 'Israel', 'casecnt': 37463.0},
 {'location': 'Italy', 'casecnt': 242398.0},
 {'location': 'Jamaica', 'casecnt': 758.0},
 {'location': 'Japan', 'casecnt': 21129.0},
 {'location': 'Jersey', 'casecnt': 325.0},
 {'location': 'Jordan', 'casecnt': 1176.0},
 {'location': 'Kazakhstan', 'casecnt': 58253.0},
 {'location': 'Kenya', 'casecnt': 9726.0},
 {'location': 'Kosovo', 'casecnt': 4715.0},
 {'location': 'Kuwait', 'casecnt': 54058.0},
 {'location': 'Kyrgyzstan', 'casecnt': 10629.0},
 {'location': 'Laos', 'casecnt': 19.0},
 {'location': 'Latvia', 'casecnt': 1173.0},
 {'location': 'Lebanon', 'casecnt': 2168.0},
 {'location': 'Lesotho', 'casecnt': 184.0},
 {'location': 'Liberia', 'casecnt': 998.0},
 {'location': 'Libya', 'casecnt': 1389.0},
 {'location': 'Liechtenstein', 'casecnt': 85.0},
 {'location': 'Lithuania', 'casecnt': 1970.0},
 {'location': 'Luxembourg', 'casecnt': 4842.0},
 {'location': 'Macedonia', 'casecnt': 7967.0},
 {'location': 'Madagascar', 'casecnt': 4578.0},
 {'location': 'Malawi', 'casecnt': 2261.0},
 {'location': 'Malaysia', 'casecnt': 8704.0},
 {'location': 'Maldives', 'casecnt': 2664.0},
 {'location': 'Mali', 'casecnt': 2406.0},
 {'location': 'Malta', 'casecnt': 674.0},
 {'location': 'Mauritania', 'casecnt': 5126.0},
 {'location': 'Mauritius', 'casecnt': 342.0},
 {'location': 'Mexico', 'casecnt': 295268.0},
 {'location': 'Moldova', 'casecnt': 19208.0},
 {'location': 'Monaco', 'casecnt': 109.0},
 {'location': 'Mongolia', 'casecnt': 230.0},
 {'location': 'Montenegro', 'casecnt': 1164.0},
 {'location': 'Montserrat', 'casecnt': 12.0},
 {'location': 'Morocco', 'casecnt': 15542.0},
 {'location': 'Mozambique', 'casecnt': 1135.0},
 {'location': 'Myanmar', 'casecnt': 330.0},
 {'location': 'Namibia', 'casecnt': 668.0},
 {'location': 'Nepal', 'casecnt': 16719.0},
 {'location': 'Netherlands', 'casecnt': 50866.0},
 {'location': 'New Caledonia', 'casecnt': 21.0},
 {'location': 'New Zealand', 'casecnt': 1194.0},
 {'location': 'Nicaragua', 'casecnt': 2846.0},
 {'location': 'Niger', 'casecnt': 1099.0},
 {'location': 'Nigeria', 'casecnt': 31987.0},
 {'location': 'Northern Mariana Islands', 'casecnt': 33.0},
 {'location': 'Norway', 'casecnt': 8965.0},
 {'location': 'Oman', 'casecnt': 54697.0},
 {'location': 'Pakistan', 'casecnt': 248872.0},
 {'location': 'Palestine', 'casecnt': 6697.0},
 {'location': 'Panama', 'casecnt': 44332.0},
 {'location': 'Papua New Guinea', 'casecnt': 11.0},
 {'location': 'Paraguay', 'casecnt': 2820.0},
 {'location': 'Peru', 'casecnt': 322710.0},
 {'location': 'Philippines', 'casecnt': 54222.0},
 {'location': 'Poland', 'casecnt': 37521.0},
 {'location': 'Portugal', 'casecnt': 46382.0},
 {'location': 'Puerto Rico', 'casecnt': 9533.0},
 {'location': 'Qatar', 'casecnt': 103128.0},
 {'location': 'Romania', 'casecnt': 32079.0},
 {'location': 'Russia', 'casecnt': 720547.0},
 {'location': 'Rwanda', 'casecnt': 1299.0},
 {'location': 'Saint Kitts and Nevis', 'casecnt': 17.0},
 {'location': 'Saint Lucia', 'casecnt': 22.0},
 {'location': 'Saint Vincent and the Grenadines', 'casecnt': 29.0},
 {'location': 'San Marino', 'casecnt': 723.0},
 {'location': 'Sao Tome and Principe', 'casecnt': 727.0},
 {'location': 'Saudi Arabia', 'casecnt': 229480.0},
 {'location': 'Senegal', 'casecnt': 8014.0},
 {'location': 'Serbia', 'casecnt': 18073.0},
 {'location': 'Seychelles', 'casecnt': 100.0},
 {'location': 'Sierra Leone', 'casecnt': 1618.0},
 {'location': 'Singapore', 'casecnt': 45783.0},
 {'location': 'Sint Maarten (Dutch part)', 'casecnt': 78.0},
 {'location': 'Slovakia', 'casecnt': 1893.0},
 {'location': 'Slovenia', 'casecnt': 1827.0},
 {'location': 'Somalia', 'casecnt': 3051.0},
 {'location': 'South Africa', 'casecnt': 264184.0},
 {'location': 'South Korea', 'casecnt': 13417.0},
 {'location': 'South Sudan', 'casecnt': 2129.0},
 {'location': 'Spain', 'casecnt': 254993.0},
 {'location': 'Sri Lanka', 'casecnt': 2511.0},
 {'location': 'Sudan', 'casecnt': 10250.0},
 {'location': 'Suriname', 'casecnt': 741.0},
 {'location': 'Swaziland', 'casecnt': 1311.0},
 {'location': 'Sweden', 'casecnt': 74898.0},
 {'location': 'Switzerland', 'casecnt': 32713.0},
 {'location': 'Syria', 'casecnt': 394.0},
 {'location': 'Taiwan', 'casecnt': 451.0},
 {'location': 'Tajikistan', 'casecnt': 6506.0},
 {'location': 'Tanzania', 'casecnt': 509.0},
 {'location': 'Thailand', 'casecnt': 3217.0},
 {'location': 'Timor', 'casecnt': 24.0},
 {'location': 'Togo', 'casecnt': 718.0},
 {'location': 'Trinidad and Tobago', 'casecnt': 133.0},
 {'location': 'Tunisia', 'casecnt': 1245.0},
 {'location': 'Turkey', 'casecnt': 211981.0},
 {'location': 'Turks and Caicos Islands', 'casecnt': 66.0},
 {'location': 'Uganda', 'casecnt': 1129.0},
 {'location': 'Ukraine', 'casecnt': 52843.0},
 {'location': 'United Arab Emirates', 'casecnt': 54453.0},
 {'location': 'United Kingdom', 'casecnt': 319204.0},
 {'location': 'United States', 'casecnt': 3247684.0},
 {'location': 'United States Virgin Islands', 'casecnt': 181.0},
 {'location': 'Uruguay', 'casecnt': 986.0},
 {'location': 'Uzbekistan', 'casecnt': 12513.0},
 {'location': 'Vatican', 'casecnt': 12.0},
 {'location': 'Venezuela', 'casecnt': 9178.0},
 {'location': 'Vietnam', 'casecnt': 370.0},
 {'location': 'Western Sahara', 'casecnt': 519.0},
 {'location': 'Yemen', 'casecnt': 1389.0},
 {'location': 'Zambia', 'casecnt': 1895.0},
 {'location': 'Zimbabwe', 'casecnt': 982.0}]

In [11]:
# 소계를 담은 rowlist로부터 데이터프레임 생성
covidtotals=pd.DataFrame(rowlist)
covidtotals.head()

      location  casecnt
0  Afghanistan  34451.0
2      Algeria  18712.0
1      Albania   3371.0
3      Andorra    855.0
4       Angola    483.0

In [19]:
ltbrazil=ltbrazil.sort_values(['station','month'])      # 지표온도 데이터 정렬
ltbrazil=ltbrazil.dropna(subset=['temperature'])                 # 온도에 누락값이 있는 행 드롭
ltbrazil

,locationid,year,month,temperature,latitude,longitude,elevation,station,countryid,country,latabs
648,BR000352000,2019,8,28.55,-3.200,-52.200,112.0,ALTAMIRA,BR,Brazil,3.200
740,BR000352000,2019,9,28.85,-3.200,-52.200,112.0,ALTAMIRA,BR,Brazil,3.200
832,BR000352000,2019,10,28.65,-3.200,-52.200,112.0,ALTAMIRA,BR,Brazil,3.200
924,BR000352000,2019,11,28.00,-3.200,-52.200,112.0,ALTAMIRA,BR,Brazil,3.200
1016,BR000352000,2019,12,27.50,-3.200,-52.200,112.0,ALTAMIRA,BR,Brazil,3.200
...,...,...,...,...,...,...,...,...,...,...,...
662,BR00B6-0360,2019,8,24.05,-20.417,-49.983,503.0,VOTUPORANGA,BR,Brazil,20.417
754,BR00B6-0360,2019,9,26.45,-20.417,-49.983,503.0,VOTUPORANGA,BR,Brazil,20.417
846,BR00B6-0360,2019,10,27.00,-20.417,-49.983,503.0,VOTUPORANGA,BR,Brazil,20.417
938,BR00B6-0360,2019,11,25.15,-20.417,-49.983,503.0,VOTUPORANGA,BR,Brazil,20.417
1030,BR00B6-0360,2019,12,24.85,-20.417,-49.983,503.0,VOTUPORANGA,BR,Brazil,20.417

In [20]:
# 한 기간과 그 다음 기간 사이에 큰 변화가 있는 행 제외
## 그 해의 평균 기온 계산, 이전 달 기온보다 3도 높거나 낮은 값 제외
prevstation = 'ZZZ'
prevtemp = 0
rowlist = []

for row in ltbrazil.itertuples():
  if (prevstation!=row.station):
    if (prevstation!='ZZZ'):
      rowlist.append({'station':prevstation, 'avgtemp':tempcnt/stationcnt,
                      'stationcnt':stationcnt})
    tempcnt = 0
    stationcnt = 0
    prevstation = row.station
  # choose only rows that are within 3 degrees of the previous temperature  
  if ((0 <= abs(row.temperature-prevtemp) <= 3) or (stationcnt==0)):
    tempcnt += row.temperature
    stationcnt += 1
  prevtemp = row.temperature

rowlist.append({'station':prevstation, 'avgtemp':tempcnt/stationcnt, 'stationcnt':stationcnt})
rowlist[0:5]
ltbrazilavgs = pd.DataFrame(rowlist)
ltbrazilavgs.head()

              station    avgtemp  stationcnt
0            ALTAMIRA  28.310000           5
1  ALTA_FLORESTA_AERO  29.433636          11
2               ARAXA  21.612500           4
3             BACABAL  29.750000           4
4                BAGE  20.366667           9

In [21]:
for i in ltbrazil.itertuples():
    print(i.temperature)

28.55
28.85
28.65
28.0
27.5
26.95
28.01
28.12
28.8
29.58
30.37
29.92
31.65
32.69
28.72
28.88
28.8
24.1
22.45
20.5
19.4
29.7
29.65
29.8
29.85
25.1
23.9
21.8
20.15
16.9
17.45
12.4
13.5
15.75
18.95
21.9
23.75
27.9
27.85
26.9
26.45
26.2
25.3
24.15
27.9
28.5
29.15
28.9
28.3
29.05
29.15
28.4
27.45
27.55
27.2
28.0
29.15
28.4
28.6
28.0
28.25
27.9
27.6
28.3
28.15
27.55
30.65
30.7
29.8
27.45
26.9
26.9
26.95
26.35
24.55
23.65
24.95
27.55
28.9
29.2
28.2
29.3
29.8
28.25
27.1
25.55
23.95
22.05
21.95
23.4
26.22
25.85
26.7
27.57
25.65
25.21
24.95
22.98
21.98
20.24
21.63
24.69
26.34
25.15
25.49
27.6
27.2
27.35
27.9
28.4
28.5
28.8
28.85
28.9
28.5
28.7
28.55
24.55
23.25
23.55
22.9
21.2
19.15
18.4
20.15
22.8
23.7
23.5
23.55
25.9
26.1
26.15
26.35
26.55
26.7
27.25
27.75
28.8
28.0
27.55
27.3
26.55
27.8
27.95
27.55
27.75
27.0
27.6
28.35
27.65
27.3
26.9
30.3
30.65
32.0
28.45
28.15
28.4
28.45
29.4
30.25
29.7
29.55
29.7
29.5
28.95
28.35
28.45
26.4
25.65
26.6
29.15
30.6
31.05
30.65
23.55
23.5
22.9
22.7
21.95
19.85
19.4
21.7
24.95
25.15
24.1
23.7
25.89
23.94
23.75
23.16
21.15
19.58
17.74
19.22
22.16
24.41
23.16
23.75
25.55
25.16
25.23
24.95
24.72
23.06
21.83
21.55
22.81
24.06
25.16
25.57
27.8
25.5
24.0
22.8
19.85
19.75
14.7
16.65
18.15
21.6
23.05
25.85
25.9
25.85
25.45
24.75
22.35
20.7
19.3
20.8
22.95
24.85
24.8
24.75
26.45
27.55
26.8
26.15
24.95
23.2
21.5
21.05
22.15
23.15
24.65
26.3
26.9
27.0
28.75
28.45
28.05
29.25
31.4
28.95
28.5
28.75
27.8
25.45
25.35
25.0
24.1
22.55
23.55
26.9
27.4
26.6
25.85
27.85
25.7
24.8
23.5
21.6
20.35
17.2
19.85
22.8
25.25
26.05
25.8
25.32
23.12
22.13
21.38
18.96
19.53
15.88
17.45
19.79
22.03
23.52
24.53
30.54
29.4
29.19
27.64
25.61
25.65
23.32
26.65
30.03
31.11
31.42
29.77
25.98
26.05
26.43
26.41
26.4
27.56
26.5
27.15
28.61
27.57
27.86
27.26
28.65
29.1
29.1
28.45
26.15
26.2
25.2
26.9
31.35
30.35
29.95
29.4
25.15
22.3
21.65
20.95
18.55
17.15
15.45
16.1
18.0
21.25
20.85
21.35
27.9
27.3
28.1
28.4
28.2
27.8
28.5
30.0
31.85
31.9
32.25
30.55
28.3
25.6
25.7
23.8
22.15
20.7
17.4
18.2
18.95
22.45
23.15
24.7
26.8
27.65
28.15
27.5
27.05
27.25
26.55
27.6
28.45
27.3
27.65
27.6
27.95
27.8
27.05
27.25
27.75
27.2
27.0
27.25
27.9
28.2
28.95
29.15
25.2
24.35
23.75
23.65
22.05
20.25
19.45
21.3
25.15
25.0
24.3
24.05
30.25
28.05
27.5
26.55
24.85
23.1
21.75
22.3
23.05
25.25
24.65
26.55
26.85
26.3
26.15
25.85
25.15
23.4
22.85
25.7
28.85
28.3
27.3
26.75
28.18
26.26
25.85
25.72
23.66
21.73
19.93
21.0
23.68
25.94
25.15
26.26
28.1
25.85
24.25
23.1
20.7
20.15
16.2
19.15
22.65
25.35
26.0
25.15
24.3
21.95
21.55
20.1
17.7
16.4
14.6
15.45
18.65
21.15
21.2
21.55
26.75
27.75
27.5
27.05
27.75
28.1
28.6
29.25
28.6
28.4
27.25
28.05
28.0
28.45
28.75
28.55
29.5
29.0
29.55
30.45
29.2
28.8
28.9
25.9
27.06
26.44
26.79
26.72
26.31
24.79
24.19
24.09
24.72
25.51
26.65
27.1
27.4
27.45
28.15
28.0
27.95
27.85
27.2
27.2
29.15
27.5
27.85
27.7
25.26
24.3
23.5
23.39
21.89
19.79
18.88
20.57
24.55
25.89
25.11
24.55
25.6
27.1
26.1
25.05
24.0
22.0
20.8
21.35
23.05
25.1
26.5
26.95
27.8
26.4
25.75
24.75
22.0
20.6
19.15
21.1
24.35
26.75
26.05
25.1
27.2
25.5
25.8
24.75
21.85
20.65
19.3
21.15
23.65
26.4
25.6
25.2
27.35
27.0
27.3
27.25
28.05
28.3
28.25
29.0
29.3
29.6
29.45
28.45
26.35
27.3
27.35
27.0
25.95
24.7
24.0
23.6
24.4
25.55
26.45
27.1
27.95
28.1
28.95
28.4
28.2
28.75
29.1
29.6
30.4
29.0
29.4
28.65
27.85
27.6
28.45
28.15
28.6
28.65
28.35
28.6
29.35
28.8
28.85
28.1
27.3
27.5
26.7
28.45
28.6
28.9
28.6
29.35
29.6
29.0
28.5
27.35
27.0
27.1
26.45
26.0
25.25
22.75
21.95
23.4
26.05
27.15
27.45
26.55
27.95
27.95
27.55
27.25
27.4
26.1
25.65
25.6
26.25
26.65
27.2
27.95
29.85
29.01
30.01
29.07
30.52
31.09
31.01
29.43
30.32
30.55
30.86
31.1
33.93
25.75
23.46
23.08
22.28
19.94
17.71
16.24
18.47
22.42
24.38
23.27
23.82
28.25
28.0
27.95
28.65
29.45
28.5
28.15
29.35
31.6
29.35
29.5
29.4
26.5
25.9
24.85
25.65
25.7
23.95
23.5
24.9
27.6
28.2
27.05
27.2
28.4
29.0
28.9
28.0
27.4
26.14
25.45
24.86
22.71
21.9
20.21
22.24
25.21
27.08
26.61
25.63
27.0
27.15
27.35
26.55
26.1
24.75
24.0
23.75
24.65
25.4
26.65
26.85
27.3
27.7
27.65
26.6
26.9
25.65
26.45
27.75
27.65
27.7
28.05
29.3
26.75
24.8
24.75
25.35
26.4
27.1
27.7
26.7
27.2
27.0
27.2
26.95
26.85
27.45
27.85
28.7
28.3
27.75
28.0
25.75
23.85
24.25
23.55
21.4
19.75
18.9
20.3
23.8
24.8
24.15
23.45
27.35
28.35
28.35
27.8
27.5
26.35
26.45
26.95
26.3
25.07
23.5
23.16
22.51
20.37
18.39
16.35
17.84
20.8
22.62
22.2
23.19
27.85
26.95
27.1
27.7
28.25
28.25
28.0
28.65
29.1
29.0
29.25
29.5
26.55
24.15
23.95
23.45
21.55
19.8
18.05
18.8
20.85
23.45
22.7
23.75
26.35
23.6
23.8
23.2
20.75
19.65
18.15
19.5
20.0
22.65
21.7
23.2
28.57
27.81
28.19
27.2
25.46
24.53
22.43
22.26
23.27
24.91
25.26
26.65
24.2
23.25
21.6
19.9
16.95
15.9
12.2
12.3
14.05
17.6
20.95
22.8
27.7
26.95
26.7
27.3
27.8
26.25
26.4
27.75
30.0
29.95
28.5
28.4
25.8
25.3
24.35
23.95
22.5
20.25
19.85
21.4
24.4
25.15
24.45
24.0
25.71
23.7
23.29
22.88
20.91
19.39
17.26
18.85
21.97
24.39
23.93
24.33
28.2
28.1
27.65
28.0
28.5
28.05
28.55
29.6
30.75
31.2
31.4
30.9
24.6
23.6
23.75
23.55
22.25
20.25
20.1
22.55
25.3
25.25
24.3
23.8
25.82
25.74
23.85
22.05
18.84
18.25
14.18
15.98
26.75
26.25
26.15
26.6
27.7
27.75
27.6
27.65
27.55
27.4
27.55
27.65
25.11
25.02
25.55
25.48
26.01
26.51
25.45
25.3
28.65
26.27
26.6
25.15
29.35
29.65
28.9
28.05
26.6
25.1
23.25
23.05
24.95
25.9
26.15
27.25
23.99
26.3
23.85
22.95
22.1
19.7
18.85
18.95
21.2
22.5
23.8
24.2
26.95
25.05
24.45
24.15
23.1
22.1
22.15
24.05
26.45
27.0
25.15
24.85

## 정리
1. 표 데이터를 다룰 때는 여러 행에 걸쳐 합계를 계산하는 작업이 가장 어렵다. 어떤 언어를 사용하든 복잡한 일
2. 어쨌든 해내야 된다는 뜻인 듯..ㅋㅋ