## 넘파이 배열의 그룹별 요약 계산

In [1]:
import pandas as pd
import numpy as np

coviddaily=pd.read_csv('C:/data-cleansing-main/Chapter07/data/coviddaily720.csv',parse_dates=['casedate'])
ltbrazil=pd.read_csv('C:/data-cleansing-main/Chapter07/data/ltbrazil.csv')

In [8]:
loclist=coviddaily.location.unique().tolist()       # tolist: array를 list로 전환

In [15]:
rowlist=[]
casevalues=coviddaily[['location','new_cases']].to_numpy()

for locitem in loclist:
    cases=[casevalues[j][1] for j in range(len(casevalues))
           if casevalues[j][0]==locitem]
    rowlist.append(sum(cases))

In [19]:
len(rowlist)
len(loclist)
rowlist[0:5]

[34451.0, 3371.0, 18712.0, 855.0, 483.0]

In [20]:
casetotals=pd.DataFrame(zip(loclist,rowlist),columns=['location','casetotals'])
casetotals[0:5]

      location  casetotals
0  Afghanistan     34451.0
1      Albania      3371.0
2      Algeria     18712.0
3      Andorra       855.0
4       Angola       483.0

In [21]:
ltbrazil=ltbrazil.sort_values(['station','month'])
ltbrazil=ltbrazil.dropna(subset=['temperature'])

In [23]:
prevstation = 'ZZZ'
prevtemp = 0
rowlist = []
tempvalues = ltbrazil[['station','temperature']].to_numpy()
for j in range(len(tempvalues)):
  station = tempvalues[j][0]
  temperature = tempvalues[j][1]
  if (prevstation!=station):
    if (prevstation!='ZZZ'):
      rowlist.append({'station':prevstation, 'avgtemp':tempcnt/stationcnt, 'stationcnt':stationcnt})
    tempcnt = 0
    stationcnt = 0
    prevstation = station
  
  if ((0 <= abs(temperature-prevtemp) <= 3) or (stationcnt==0)):
    tempcnt += temperature
    stationcnt += 1
  
  prevtemp = temperature
rowlist.append({'station':prevstation, 'avgtemp':tempcnt/stationcnt, 'stationcnt':stationcnt})

rowlist[0:5]

[{'station': 'ALTAMIRA', 'avgtemp': 28.310000000000002, 'stationcnt': 5},
 {'station': 'ALTA_FLORESTA_AERO',
  'avgtemp': 29.433636363636367,
  'stationcnt': 11},
 {'station': 'ARAXA', 'avgtemp': 21.612499999999997, 'stationcnt': 4},
 {'station': 'BACABAL', 'avgtemp': 29.75, 'stationcnt': 4},
 {'station': 'BAGE', 'avgtemp': 20.366666666666664, 'stationcnt': 9}]

In [24]:
ltbrazilavgs=pd.DataFrame(rowlist)
ltbrazilavgs.head()

              station    avgtemp  stationcnt
0            ALTAMIRA  28.310000           5
1  ALTA_FLORESTA_AERO  29.433636          11
2               ARAXA  21.612500           4
3             BACABAL  29.750000           4
4                BAGE  20.366667           9

## 정리
1. 데이터를 순회할 필요가 있을 때, 넘파이 배열을 사용하는 것이 일반적으로 더 빠르다.