### 필수과제 1

- from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler

- 스케일링 진행하지 않은 2개 + 추가로 더 하셔도 됩니다 abs, 등으로 차이를 비교해 주세요!

In [1]:
from google.colab import drive
drive.mount('/content/drvie')

Mounted at /content/drvie

In [9]:
from sklearn.preprocessing import scale, StandardScaler,MinMaxScaler,RobustScaler
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib inline

In [31]:
wine=pd.read_csv('/content/drvie/MyDrive/Colab Notebooks/Dataset/wine_test.csv')

In [32]:
wine=wine.drop('Unnamed: 0',axis=1)
wine.dropna(inplace=True)

kmeans=KMeans(n_clusters=3,init='k-means++',max_iter=300,random_state=111)

wine_x=wine[['alcohol', 'malic_acid', 'ash', 'alcalinity_of_ash', 'magnesium',
       'total_phenols', 'flavanoids', 'nonflavanoid_phenols',
       'proanthocyanins', 'color_intensity', 'hue',
       'od280/od315_of_diluted_wines', 'proline']]

### Standard Scaler

In [33]:
st_scaler=StandardScaler()
st_scaler.fit(wine_x)
wine_st=st_scaler.transform(wine_x)
wine_st=pd.DataFrame(wine_st,columns=wine_x.columns)
kmeans.fit(wine_st)

wine['cluster_st']=kmeans.labels_
wine.groupby(['class','cluster_st'])['alcohol'].count()

/usr/local/lib/python3.9/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

class  cluster_st
0      0             57
1      0              2
       1             61
       2              3
2      2             48
Name: alcohol, dtype: int64

### MinMaxScaler

In [34]:
mm_scaler=MinMaxScaler()
mm_scaler.fit(wine_x)
wine_mm=mm_scaler.transform(wine_x)
wine_mm=pd.DataFrame(wine_mm,columns=wine_x.columns)
kmeans.fit(wine_mm)

wine['cluster_mm']=kmeans.labels_
wine.groupby(['class','cluster_mm'])['alcohol'].count()

/usr/local/lib/python3.9/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

class  cluster_mm
0      0             57
1      0              1
       1             62
       2              3
2      2             48
Name: alcohol, dtype: int64

### Robust Scaler

In [35]:
rb_scaler=RobustScaler()
rb_scaler.fit(wine_x)
wine_rb=mm_scaler.transform(wine_x)
wine_rb=pd.DataFrame(wine_rb,columns=wine_x.columns)
kmeans.fit(wine_rb)

wine['cluster_rb']=kmeans.labels_
wine.groupby(['class','cluster_rb'])['alcohol'].count()

/usr/local/lib/python3.9/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

class  cluster_rb
0      0             57
1      0              1
       1             62
       2              3
2      2             48
Name: alcohol, dtype: int64

In [36]:
wine

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,class,cluster_st,cluster_mm,cluster_rb
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,0,0,0,0
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,0,0,0,0
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,0,0,0,0
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,0,0,0,0
5,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,2,2,2,2
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,2,2,2,2
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,2,2,2,2
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,2,2,2,2
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,2,2,2,2

### **결론**
- **wine 데이터 분석의 경우, MinMaxScaler와 RobustScaler가 Standard 보다 1번 클래스를 조금 더 잘 분류한다.**