## 누락값 찾기
- 변수별로 누락값이 얼마나 있는지
- 누락된 이유가 무엇인지
- 누락된 변수를 어떻게 대체할 수 있는지
- 열 방향으로 한 번, 행 방향으로 한 번!

In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_columns',None)

covidtotals=pd.read_csv('C:/data-cleansing-main/Chapter04/data/covidtotalswithmissings.csv')       # lastdate 컬럼을 날짜 형식으로 변환, 불러올 때만 할 수 있나?
totvars = ['location','total_cases','total_deaths','total_cases_pm','total_deaths_pm']                          # 사례 열의 리스트
demovars = ['population','pop_density','median_age','gdp_per_capita','hosp_beds']                               # 인구통계 열의 리스트
covidtotals.set_index('iso_code',inplace=True)

In [36]:
covidtotals[demovars].isnull().sum()        # axis=0 으로 설정해, 열 방향으로 누락값 개수 확인, isnull 과 isna는 같은건가?

population         0
pop_density       12
median_age        24
gdp_per_capita    28
hosp_beds         46
dtype: int64

In [37]:
demovarsmisscnt=covidtotals[demovars].isnull().sum(axis=1)      # axis=1 로 설정해, 행 방향으로 누락값 개수 확인. 행 방향이므로 각 행마다 누락된 열이 몇 개인지 알 수 있음
demovarsmisscnt.value_counts()          # 누락된 열 개수가 같은 행끼리 카운트

0    156
1     24
2     12
3     10
4      8
dtype: int64

In [38]:
# 인구통계 데이터가 3가지 이상 누락된 국가 나열
covidtotals.loc[demovarsmisscnt>=3,['location']+demovars].head(5).T

iso_code,AND,AIA,BES,VGB,FRO
location,Andorra,Anguilla,Bonaire Sint Eustatius and Saba,British Virgin Islands,Faeroe Islands
population,77265.0,15002.0,26221.0,30237.0,48865.0
pop_density,163.755,NaN,NaN,207.973,35.308
median_age,NaN,NaN,NaN,NaN,NaN
gdp_per_capita,NaN,NaN,NaN,NaN,NaN
hosp_beds,NaN,NaN,NaN,NaN,NaN

In [39]:
# 코로나19 사례 데이터에서 누락값 찾기
covidtotals[totvars].isnull().sum()

location           0
total_cases        0
total_deaths       0
total_cases_pm     1
total_deaths_pm    1
dtype: int64

In [40]:
totvarmisscnt=covidtotals[totvars].isnull().sum(axis=1)
totvarmisscnt.value_counts()

covidtotals.loc[totvarmisscnt>0].T

iso_code                HKG
lastdate         2020-05-26
location          Hong Kong
total_cases               0
total_deaths              0
total_cases_pm          NaN
total_deaths_pm         NaN
population        7496988.0
pop_density        7039.714
median_age             44.8
gdp_per_capita     56054.92
hosp_beds               NaN

In [45]:
# fillna로 홍콩의 누락된 사례 데이터 채우기
covidtotals.total_cases_pm.fillna(covidtotals.total_cases/(covidtotals.population/1000000),inplace=True)            # 올바른 논리를 작성해서 결측값을 채우는 것이 중요
covidtotals.total_deaths_pm.fillna(covidtotals.total_deaths/(covidtotals.population/1000000),inplace=True)

covidtotals[totvars].isnull().sum()

location           0
total_cases        0
total_deaths       0
total_cases_pm     0
total_deaths_pm    0
dtype: int64