# 6Ïû• - Îç∞Ïù¥ÌÑ∞ Ï†ïÏ†ú Î∞è ÌÉêÏÉâ
- 5Ïû•ÍπåÏßÄÏùò ÎÇ¥Ïö©ÏúºÎ°ú Îç∞Ïù¥ÌÑ∞Î•º Ï∂©Î∂ÑÌûà Ïù¥Ìï¥ÌïòÎäî Í≥ºÏ†ï ÌïÑÏöî
- ÏÉàÎ°úÏö¥ Í∞íÏúºÎ°ú ÎåÄÏπò, Ï°∞Ï†ïÌïòÎäî Í≤ÉÏóê ÎåÄÌïú Í≥ÑÌöç ÏÑ∏Ïö∞Í∏∞

## ÌåêÎã§Ïä§ ÏãúÎ¶¨Ï¶àÏóêÏÑú Í∞í ÏñªÍ∏∞
- ÌåêÎã§Ïä§ ÏãúÎ¶¨Ï¶à Íµ¨Ï°∞Îäî 1Ï∞®Ïõê Î∞∞Ïó¥Í≥º Ïú†ÏÇ¨, ÎÑòÌååÏù¥ ÏûêÎ£åÌòïÏùÑ Ï∑®Ìï®
- Í∞Å ÏãúÎ¶¨Ï¶àÏóêÎäî Ïù∏Îç±Ïä§Í∞Ä Ï°¥Ïû¨!
- ÏãúÎ¶¨Ï¶à ÏÉùÏÑ± Î∞©Î≤ï: Î¶¨Ïä§Ìä∏, ÎîïÏÖîÎÑàÎ¶¨, ÎÑòÌååÏù¥ Î∞∞Ïó¥, Ïä§ÏπºÎùº

In [2]:
import pandas as pd

nls97=pd.read_csv('C:/data-cleansing-main/Chapter06/data/nls97b.csv')
nls97.set_index('personid',inplace=True)

In [3]:
nls97

,gender,birthmonth,birthyear,highestgradecompleted,maritalstatus,childathome,childnotathome,wageincome,weeklyhrscomputer,weeklyhrstv,...,colenrfeb13,colenroct13,colenrfeb14,colenroct14,colenrfeb15,colenroct15,colenrfeb16,colenroct16,colenrfeb17,colenroct17
personid,,,,,,,,,,,,,,,,,,,,,
100061,Female,5,1980,13.0,Married,4.0,0.0,12500.0,10 hours or more a week,11 to 20 hours a week,...,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled
100139,Male,9,1983,12.0,Married,2.0,0.0,120000.0,1 to 3 hours a week,3 to 10 hours a week,...,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled
100284,Male,11,1984,7.0,Never-married,1.0,0.0,58000.0,None,11 to 20 hours a week,...,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled
100292,Male,4,1982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,NaN,NaN,NaN,NaN
100583,Male,1,1980,13.0,Married,4.0,0.0,30000.0,Less than 1 hour a week,3 to 10 hours a week,...,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999291,Female,4,1981,16.0,Married,NaN,NaN,35000.0,7 to 9 hours a week,Less than 2 hours per week,...,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled
999406,Male,7,1982,14.0,Never-married,NaN,NaN,116000.0,4 to 6 hours a week,3 to 10 hours a week,...,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled
999543,Female,8,1984,12.0,Divorced,2.0,0.0,NaN,None,3 to 10 hours a week,...,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled
999698,Female,5,1983,12.0,Never-married,5.0,0.0,NaN,4 to 6 hours a week,More than 40 hours a week,...,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled
999963,Female,9,1982,17.0,Married,2.0,0.0,50000.0,4 to 6 hours a week,3 to 10 hours a week,...,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled

In [5]:
# ÌäπÏ†ï Ïó¥Î°úÎ∂ÄÌÑ∞ ÏãúÎ¶¨Ï¶à ÏÉùÏÑ±
gpaoverall=nls97.gpaoverall
type(gpaoverall)
gpaoverall.head()
gpaoverall.index

Int64Index([100061, 100139, 100284, 100292, 100583, 100833, 100931, 101089,
            101122, 101132,
            ...
            998997, 999031, 999053, 999087, 999103, 999291, 999406, 999543,
            999698, 999963],
           dtype='int64', name='personid', length=8984)

### ÎåÄÍ¥ÑÌò∏ Ïó∞ÏÇ∞Ïûê

In [8]:
gpaoverall[:5]
gpaoverall.head(5)

gpaoverall[-5:]
gpaoverall.tail(5)

personid
999291    3.11
999406    2.17
999543     NaN
999698     NaN
999963    3.78
Name: gpaoverall, dtype: float64

### loc Ï†ëÍ∑ºÏûê
- loc Ï†ëÍ∑ºÏûêÏóê Ïù∏Îç±Ïä§ Î†àÏù¥Î∏î(Ïó¨Í∏∞ÏÑúÎäî personid Í∞í)ÏùÑ Ï†ÑÎã¨ÌïòÎ©¥ Ïä§ÏπºÎùº Í∞íÏù¥ Î∞òÌôòÎê®.
- üí•Ïù∏Îç±Ïä§ Î†àÏù¥Î∏îÏùò Î¶¨Ïä§Ìä∏Î•º Ï†ÑÎã¨ÌïòÎ©¥ Í∞íÏù¥ Î™á Í∞úÏù¥Îì† ÏãúÎ¶¨Ï¶àÎ•º ÏñªÏùå.

In [12]:
type(gpaoverall.loc[100061])        # Î¶¨Ïä§Ìä∏x Ïù∏ Í≤ΩÏö∞ÏóêÎäî floatÎ°ú

numpy.float64

In [13]:
type(gpaoverall.loc[[100061]])      # Î¶¨Ïä§Ìä∏Î°ú Ï†ÑÎã¨Ìïú Í≤ΩÏö∞ ÏãúÎ¶¨Ï¶àÎ°ú

gpaoverall.loc[[100061,100139,100284]]
gpaoverall.loc[100061:100833]

pandas.core.series.Series

### iloc Ï†ëÍ∑ºÏûê
- Ìñâ Î≤àÌò∏Ïùò Î¶¨Ïä§Ìä∏Î•º Ï∑®Ìï®
- locÏôÄ ÎßàÏ∞¨Í∞ÄÏßÄÎ°ú Î¶¨Ïä§Ìä∏Î•º Ï†ÑÎã¨ÌïòÎ©¥ ÏãúÎ¶¨Ï¶àÎ°ú ÏñªÏùå

In [14]:
type(gpaoverall.iloc[0])

numpy.float64

In [15]:
type(gpaoverall.iloc[[0,1,2,3,4]])

gpaoverall.iloc[:5]
gpaoverall.iloc[-5:]

pandas.core.series.Series