## 판다스 시리즈에 대한 요약통계
- mean, median, max, min, quantile, describe 등
- 시리즈의 모든 값에 대해 사용 가능, 선택한 값에 대해서만도 사용 가능

In [1]:
import pandas as pd
import numpy as np

nls97=pd.read_csv('C:/data-cleansing-main/Chapter06/data/nls97b.csv')
nls97.set_index('personid',inplace=True)

In [3]:
gpaoverall=nls97.gpaoverall

gpaoverall.mean()
gpaoverall.describe()

count    6004.000000
mean        2.818408
std         0.616357
min         0.100000
25%         2.430000
50%         2.860000
75%         3.260000
max         4.170000
Name: gpaoverall, dtype: float64

In [5]:
gpaoverall.quantile(np.arange(0.1,1.1,0.1))         # np.arange로 리스트를 만든 후 넣기

0.1    2.02
0.2    2.31
0.3    2.52
0.4    2.70
0.5    2.86
0.6    3.01
0.7    3.17
0.8    3.36
0.9    3.60
1.0    4.17
Name: gpaoverall, dtype: float64

In [9]:
# 시리즈의 부분 집합에 대한 기술
gpaoverall.loc[gpaoverall.between(3,3.5)]           # gpaoverall이 3~3.5인 행만 뽑기
gpaoverall.loc[gpaoverall.between(3,3.5)].count()

personid
100061    3.06
100292    3.45
101526    3.37
101527    3.26
102125    3.14
          ...
997812    3.43
998472    3.03
998556    3.07
999031    3.14
999291    3.11
Name: gpaoverall, Length: 1679, dtype: float64

In [15]:
gpaoverall.loc[(gpaoverall<2) | (gpaoverall>4)].sample(5,random_state=1)            # sample로 샘플 뽑기

personid
768938    1.60
183050    1.97
563047    1.45
417745    1.71
761055    1.90
Name: gpaoverall, dtype: float64

In [22]:
gpaoverall.loc[gpaoverall>gpaoverall.quantile(0.99)].agg(['count','min','max','median'])                        # 상위 1프로에 드는 점수의 agg

count     60.00
min        3.98
max        4.17
median     4.00
Name: gpaoverall, dtype: float64

In [26]:
# 전체 값에 걸쳐 조건 테스트
(gpaoverall>4).any()            # gpa가 4를 넘는 사람이 있는가? 하나만 있어도 TRUE
(gpaoverall>=0).all()           # 모든 사람의 gpa가 0 이상인가?
(gpaoverall>=0).sum()           # gpa가 0 이상인 사람 수의 합
gpaoverall.isna().sum()         # gpa 값이 없는 사람 수

2980

### 시리즈에서 서로 다른 열의 값을 기준으로 부분 집합의 기술통계 내기

In [33]:
nls97.loc[nls97.wageincome > nls97.wageincome.quantile(0.75),'gpaoverall'].mean()       # 임금소득이 75백분위수를 넘는 개인의 gpa평균
# nls97.loc[nls97.wageincome.quantile(0.75),'gpaoverall'].mean() 왜 이건 안 되지..?
nls97.loc[nls97.wageincome < nls97.wageincome.quantile(0.25),'gpaoverall'].mean()       # 임금소득이 25백분위수 미만인 개인의 gpa평균

2.7201434159061284

### 범주 데이터를 포함하는 시리즈에 대한 기술과 빈도 표시

In [34]:
nls97.maritalstatus.describe()      # 범주형 데이터에 대해서도 describe를 쓸 수 있는데, value_count를 더 많이 쓴다.

count        6672
unique          5
top       Married
freq         3066
Name: maritalstatus, dtype: object

In [35]:
nls97.maritalstatus.value_counts()

Married          3066
Never-married    2766
Divorced          663
Separated         154
Widowed            23
Name: maritalstatus, dtype: int64