## K-최근접 이웃으로 누락값 대치
- 직관적이고 실행하기 쉬워, 변수와 관측값이 많지 않을 때 사용하기 좋다.
- 어떤 값으로 채울지 결정하는 데에 이용된다.
- 범주형 데이터의 누락값도 이걸로 대치가 되나?

In [1]:
import pandas as pd
from sklearn.impute import KNNImputer

nls97=pd.read_csv('C:/data-cleansing-main/Chapter06/data/nls97c.csv')
nls97.set_index('personid',inplace=True)

In [2]:
schoolrecordlist = ['satverbal','satmath','gpaoverall','gpaenglish','gpamath','gpascience','highestgradecompleted']
schoolrecord = nls97[schoolrecordlist]

# KNNImputer 모듈을 초기화하고 누락값 대치
impKNN=KNNImputer(n_neighbors=5)
newvalues=impKNN.fit_transform(schoolrecord)                                                # KNN을 적용해 얻은 값

schoolrecordimp=pd.DataFrame(newvalues,columns=schoolrecordlist,index=schoolrecord.index)   # KNN을 적용해 얻은 값, 컬럼 이름, 인덱스를 가지고 새로운 데이터프레임 생성

In [9]:
newvalues

array([[446.   , 460.   ,   3.06 , ..., 280.   , 315.   ,  13.   ],
       [412.   , 470.   ,   2.346, ..., 218.   , 247.8  ,  12.   ],
       [290.8  , 285.2  ,   2.548, ..., 244.6  , 258.   ,   7.   ],
       ...,
       [412.   , 470.   ,   2.346, ..., 218.   , 247.8  ,  12.   ],
       [412.   , 470.   ,   2.346, ..., 218.   , 247.8  ,  12.   ],
       [460.   , 660.   ,   3.78 , ..., 343.   , 333.   ,  17.   ]])

In [3]:
schoolrecord.head().T

personid               100061  100139  100284  100292  100583
satverbal                 NaN     NaN     NaN     NaN     NaN
satmath                   NaN     NaN     NaN     NaN     NaN
gpaoverall               3.06     NaN     NaN    3.45    2.91
gpaenglish             350.00     NaN     NaN  345.00  283.00
gpamath                280.00     NaN     NaN  370.00  285.00
gpascience             315.00     NaN     NaN  300.00  240.00
highestgradecompleted   13.00    12.0     7.0     NaN   13.00

In [4]:
schoolrecordimp.head().T

personid               100061   100139   100284  100292  100583
satverbal              446.00  412.000  290.800  534.00  414.00
satmath                460.00  470.000  285.200  560.00  454.00
gpaoverall               3.06    2.346    2.548    3.45    2.91
gpaenglish             350.00  232.400  136.000  345.00  283.00
gpamath                280.00  218.000  244.600  370.00  285.00
gpascience             315.00  247.800  258.000  300.00  240.00
highestgradecompleted   13.00   12.000    7.000    9.80   13.00

In [5]:
# 요약통계 비교
schoolrecord[['gpaoverall','highestgradecompleted']].agg(['mean','count'])

        gpaoverall  highestgradecompleted
mean      2.818408              14.059883
count  6004.000000            6663.000000

In [6]:
schoolrecordimp[['gpaoverall','highestgradecompleted']].agg(['mean','count'])

        gpaoverall  highestgradecompleted
mean      2.775159              13.505609
count  8984.000000            8984.000000