# 10장 - 사용자 정의 함수와 클래스로 데이터 정제 자동화
- 일상적인 데이터 정제 작업을 수행하는 모듈 작성

## 데이터를 처음 살펴보는 함수 - 모든 데이터에 공통
1. 행, 열의 개수 확인
2. 열의 자료형 확인
3. 처음 몇 행 확인
4. 인덱스 및 고유 식별자 확인

In [1]:
import pandas as pd
import os
import sys

nls97=pd.read_csv('C:/data-cleansing-main/Chapter10/data/nls97f.csv')

In [6]:
os.chdir('C:\python\python-1\python_data_cleansing_cookbook\helperfunctions')
import basicdescriptives as bd      # 왜 밑줄 쳐지지?
import importlib
importlib.reload(bd)

In [7]:
dfinfo=bd.getfirstlook(nls97)
bd.displaydict(dfinfo)

head:    personid  gender  birthmonth  birthyear  highestgradecompleted  \
0    100061  Female           5       1980                   13.0
1    100139    Male           9       1983                   12.0
2    100284    Male          11       1984                    7.0
3    100292    Male           4       1982                    NaN
4    100583    Male           1       1980                   13.0

   maritalstatus  childathome  childnotathome  wageincome  \
0        Married          4.0             0.0     12500.0
1        Married          2.0             0.0    120000.0
2  Never-married          1.0             0.0     58000.0
3            NaN          NaN             NaN         NaN
4        Married          4.0             0.0     30000.0

         weeklyhrscomputer  ...      colenroct13      colenrfeb14  \
0  10 hours or more a week  ...  1. Not enrolled  1. Not enrolled
1      1 to 3 hours a week  ...  1. Not enrolled  1. Not enrolled
2                     None  ...  1. Not enrolled  1. Not enrolled
3                      NaN  ...  1. Not enrolled  1. Not enrolled
4  Less than 1 hour a week  ...  1. Not enrolled  1. Not enrolled

       colenroct14      colenrfeb15      colenroct15      colenrfeb16  \
0  1. Not enrolled  1. Not enrolled  1. Not enrolled  1. Not enrolled
1  1. Not enrolled  1. Not enrolled  1. Not enrolled  1. Not enrolled
2  1. Not enrolled  1. Not enrolled  1. Not enrolled  1. Not enrolled
3  1. Not enrolled  1. Not enrolled  1. Not enrolled              NaN
4  1. Not enrolled  1. Not enrolled  1. Not enrolled  1. Not enrolled

       colenroct16      colenrfeb17      colenroct17 originalid
0  1. Not enrolled  1. Not enrolled  1. Not enrolled       8245
1  1. Not enrolled  1. Not enrolled  1. Not enrolled       3962
2  1. Not enrolled  1. Not enrolled  1. Not enrolled       3571
3              NaN              NaN              NaN       2979
4  1. Not enrolled  1. Not enrolled  1. Not enrolled       8511

[5 rows x 90 columns]

dtypes: personid                   int64
gender                    object
birthmonth                 int64
birthyear                  int64
highestgradecompleted    float64
                          ...
colenrfeb16               object
colenroct16               object
colenrfeb17               object
colenroct17               object
originalid                 int64
Length: 90, dtype: object

nrows: 8984

ncols: 90

index: RangeIndex(start=0, stop=8984, step=1)

In [8]:
dfinfo=bd.getfirstlook(nls97,2,'originalid')
bd.displaydict(dfinfo)

head:    personid  gender  birthmonth  birthyear  highestgradecompleted  \
0    100061  Female           5       1980                   13.0
1    100139    Male           9       1983                   12.0

  maritalstatus  childathome  childnotathome  wageincome  \
0       Married          4.0             0.0     12500.0
1       Married          2.0             0.0    120000.0

         weeklyhrscomputer  ...      colenroct13      colenrfeb14  \
0  10 hours or more a week  ...  1. Not enrolled  1. Not enrolled
1      1 to 3 hours a week  ...  1. Not enrolled  1. Not enrolled

       colenroct14      colenrfeb15      colenroct15      colenrfeb16  \
0  1. Not enrolled  1. Not enrolled  1. Not enrolled  1. Not enrolled
1  1. Not enrolled  1. Not enrolled  1. Not enrolled  1. Not enrolled

       colenroct16      colenrfeb17      colenroct17 originalid
0  1. Not enrolled  1. Not enrolled  1. Not enrolled       8245
1  1. Not enrolled  1. Not enrolled  1. Not enrolled       3962

[2 rows x 90 columns]

dtypes: personid                   int64
gender                    object
birthmonth                 int64
birthyear                  int64
highestgradecompleted    float64
                          ...
colenrfeb16               object
colenroct16               object
colenrfeb17               object
colenroct17               object
originalid                 int64
Length: 90, dtype: object

nrows: 8984

ncols: 90

index: RangeIndex(start=0, stop=8984, step=1)

uniqueids: 8984

In [9]:
dfinfo['nrows']

8984

In [10]:
dfinfo['dtypes']

personid                   int64
gender                    object
birthmonth                 int64
birthyear                  int64
highestgradecompleted    float64
                          ...
colenrfeb16               object
colenroct16               object
colenrfeb17               object
colenroct17               object
originalid                 int64
Length: 90, dtype: object

In [11]:
dfinfo['nrows']==dfinfo['uniqueids']

True

### getfirstlook 함수 살펴보기

In [ ]:
def getfirstlook(df,nrows=5,uniqueids=None):                # 인자로 전달된 데이터프레임에 관한 유용한 정보를 담은 딕셔너리 반환
    out={}
    out['head']=df.head(nrows)
    out['dtypes']=df.dtypes
    out['nrows']=df.shape[0]
    out['ncols']=df.shape[1]
    out['index']=df.index

    if (uniqueids is not None):
        out['uniqueids']=df[uniqueids].nunique()            # uniqueids 매개변수를 값으로 전달하면, 해당 열에 유일값이 몇 개 있는지 알 수 있다.
    return out


def displaydict(dicttodisplay):                             # 딕셔너리로 반환된 값을 예쁘게 보여주는 함수
    print(*(': '.join(map(str,x))
            for x in dicttodisplay.items()), sep='\n\n')